<p>
    <strong>三、 給予支援</strong>
</p>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    曾經聽聞這樣的故事：
</p>
<p>
    「就算病倒了，都要返辦公室露面，讓上級和同事見到自己的病容，等他們促請自己回家休息才敢請病假，否則會怕其他人誤會自己玩嘢攞著數。」
</p>
<p>
    「他們以為我詐巔扮儍，叫我不要再攪事，不要再去看精神科醫生和心理學家…… 但我真的需要藥物治療才能睡得好一點，我唯有自己請假去看醫生，不讓他們知道。」
</p>
<p>
    「我跟拍檔一樣是病患者，他是癌症康復者，我是情緒病患者，同事們對我倆的態度則是天淵之別……」
</p>
<p>
    不論任何疾病，上級同事的支持和關懷對於病患者的康復進度和工作表現起着關鍵作用。如果病患者在面對自身疾病的痛苦時，還要承受社會及人際上的忌諱和壓力，康復之期更遙遙無期。    <strong> </strong>
</p>
<p>
    我們可以提供開放、接納的平台讓有需要的同事得到適當的關懷和治療：
</p>
<ul>
    <li>
        以同理心去關懷受精神健康問題困擾的人
    </li>
    <li>
        給予他們傾訴的機會以提供情緒支援
    </li>
    <li>
        鼓勵或協助他們尋求專業的幫助
    </li>
</ul>