<p>
    <strong> (3). Give Support</strong>
</p>
<p>
    We have heard of stories like these:
</p>
<p>
    “I have to show up at office even if I fall sick, so that my supervisors
    and colleagues will be able to see how sick I am. I have the courage to
    apply for sick leave only when they ask me to go home for more rests,
    otherwise people may think that I am faking an illness for fringe
    benefits.”
</p>
<p>
    “They think I am just pretending to be mad. They ask me not to cause
    troubles or visit psychiatrists and clinical psychologists anymore, or
    else…But I really need the medication in order to sleep better, so I have
    to apply for sick leave myself for medical appointments without letting
    them know.”
</p>
<p>
    “My work buddy and I are both patients. But he is a patient recovering from
    cancer, while I am a patient of mood disorder. The ways our colleagues
    treat us are completely different…”
</p>
<p>
    Regardless of the illness, support and care from supervisors and colleagues
    are crucial to the recovery process and work performance of the patient. If
    the patient has to bear societal taboos and interpersonal pressure on top
    of the sufferings caused by the illness itself, the recovery journey will
    be more difficult than ever.
</p>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    We can provide the colleagues in need with an open and accepting platform
    so that they can receive suitable care and treatment:
</p>
<ul>
    <li>
        Care for those who are suffering from mental health problems with
        empathy
    </li>
    <li>
        Give them emotional support through providing opportunities to talk
        about their distress
    </li>
    <li>
        Encourage or assist them to seek professional support
    </li>
</ul>