<p>
    <strong>一、 增加了解</strong>
</p>
<p>
    因為缺乏認識，我們很容易對自己不太了解的事情產生恐懼和偏見。面對精神病這個話題，很多人會視而不見，聽而不聞，避而不談。就算自己已經身在其中，也會因為缺乏認識，或恐怕被別人歧視而不敢去承認和面對。久而久之，病情漸漸惡化，治療與康復的過程就會變得更加複雜而漫長了。
</p>
<p>
    警務工作向來都充滿挑戰性但同時亦面對極大壓力，而壓力是誘發各種精神健康問題的主要來源，所以警務人員是受精神健康問題威脅的高危一族。警務人員更加需要擁有良好的壓力管理，和正面積極的態度去關注自己及同僚的精神健康。
</p>
<p>
    我們需要明白，警務人員一般予人強者形象，但每個人都有機會在人生中遇上逆境而誘發不同程度的精神健康問題，這並不代表我們是軟弱的，反之逃避而不去處理才是軟弱的表現。
</p>
<p>
    <br/>
</p>
<p>
    我們可以：
</p>
<ul>
    <li>
        加強了解能促進精神健康以及危害精神健康的因素
    </li>
    <li>
        明白受精神健康問題困擾的人的壓力，嘗試從他們的角度去理解
    </li>
    <li>
        抱開放、公開的態度去探討有關精神健康的話題，並與人分享相關資訊
    </li>
</ul>