<p>
    <strong> (1). Raise Understanding</strong>
</p>
<p>
    We often develop fear and prejudice towards things unfamiliar to us owing
    to lack of knowledge. When it comes to the topic of mental disorders, many
    would choose to avoid reading about, listening to and talking about it.
    Even if one is clearly suffering from a mental illness, he or she will be
    afraid to admit and face it due to lack of knowledge or fear of
    discrimination. As time goes by, symptoms will gradually deteriorate which
    complicates and lengthens the treatment and recovery process.
</p>
<p>
    Police work is always challenging and often stressful. Since stress is the
    major source of various mental health problems, police officers are among
    the high-risk group for threats to mental health. Police officers have a
    high need for effective stress management and a positive attitude to care
    about their own mental health as well as their colleagues’.
</p>
<p>
    Police officers often give others an impression of toughness, but along the
    journey of life adversities may come to affect anyone and cause mental
    health problems of various degrees. This does not mean that we are weak,
    but in contrary we are weak if we avoid handling our difficulties.
</p>
<p>
    We can:
</p>
<ul>
    <li>
        Increase our understanding about the protective factors and risk
        factors for mental health
    </li>
    <li>
        Understand the stress faced by mentally challenged persons, and try to
        view from their perspective
    </li>
    <li>
        Adopt an open mind to discuss topics of mental health and share
        relevant information with others
    </li>
</ul>