<p>
    <strong>反標籤環宇略影</strong>
</p>
<p>
    <strong>I. </strong>
    <strong>精神健康解碼</strong>
    <strong> (</strong>
    <strong>MH Decode</strong>
    <strong>)</strong>
</p>
<p>
    「生活在歧視和恥辱之中，往往比面對疾病本身更為痛苦。」
</p>
<p>
    電影「一念無明」中，男主角患上躁鬱症，因為行為極端怪異，令鄰居驚怕，不為社會所接納，甚至他的父親也擔心他有暴力行為，在枕頭底下暗藏槌仔。
</p>
<p>
    精神健康問題日益普遍，其中世界衛生組織報告指出，抑鬱症是現今全球令人類失去功能(disability)的首要原因，並預測到2020年抑鬱症將成為全球第二大疾病。與此同時，精神疾患仍是最多歧視和標籤，及最缺乏正確認識的疾病。
</p>
<p>
    要對抗精神健康問題的威脅，每個人都要認識何謂精神健康及了解相關的知識，當自己受精神病困擾時要及早主動求助，並接納且適時提供支援予患上精神健康問題的人。
</p>
<p>
    而這並非單靠個人層面上的努力，更重要是社會大眾的支持、抱著正面和公開的態度去探討精神健康問題，拆除負面的標籤。
</p>
<p>
    有見及此，我們希望透過「精神健康解碼」推廣計劃(MH Decode)，在警隊內加強同事對精神健康的認識，培養接納及互助的文化，提升同事的身心健康。要達到這個目標，我們要從認知、態度及行為這三方面著手：
</p>
<p>
    <img src="images/button1_zh-tw.png" alt="understanding" style="max-width: 100%">
    <br>
    <img src="images/button2_zh-tw.png" alt="remove label" style="max-width: 100%">
    <br>
    <img src="images/button3_zh-tw.png" alt="support" style="max-width: 100%">
</p>