<p>
    <strong>Remove Labels</strong>
</p>
<ol>
    <li>
        <strong></strong>
        <strong>Decoding Mental Health</strong>
    </li>
</ol>
<p>
    <strong>
        <em>
            “The discrimination and shame associated with the illness can be
            worse than the illness itself.”
        </em>
    </strong>
</p>
<p>
    The movie <em>Mad World</em> portrays the protagonist Tung, a man suffering
    from bipolar disorder, who is feared by his neighbors and rejected by the
    society because of his bizarre behaviors. Even his father worries that Tung
    may be violent and aggressive, that he secretly hides an axe under his bed
    for self-protection.
</p>
<p>
    Mental health issues are becoming more and more common in modern society.
    According to the World Health Organization report, depression is the
    leading cause of disability globally, and is estimated to become the second
    leading cause of disease worldwide by 2020. At the same time, mental
    disorders are still the most discriminated and stigmatized illnesses
    lacking correct understanding. To combat the threat of mental health
    problems, everyone needs to learn about what mental health is and knowledge
    related to mental health. We should seek help as early as possible when we
    are struggling with mental disorders, and to those who are affected by
    mental health issues we should offer acceptance and timely support.
</p>
<p>
    It is not enough to just rely on individual efforts. More importantly,
    successful de-stigmatization requires support from society, as well as a
    positive and open attitude to explore mental health problems.
</p>
<p>
    In view of this, through MH Decode Promotion Campaign, we hope to increase
    Force members’ understanding about mental health, so as to cultivate an
    atmosphere of acceptance and mutual support, and to enhance members’
    physical and psychological health. To achieve this, we would like to
    promote changes in three aspects: Cognition, attitude and behavior.
</p>
<p>
    <img src="images/button1_en.png" alt="understanding" style="max-width: 100%">
    <br>
    <img src="images/button2_en.png" alt="remove label" style="max-width: 100%">
    <br>
    <img src="images/button3_en.png" alt="support" style="max-width: 100%">
</p>