<p>
    <strong>二、 拆走標籤</strong>
</p>
<p>
    <br/>
</p>
<p>
    現今精神健康問題非常普遍，只要及時處理並有適當的治療，大部分的患者都能康復。
</p>
<p>
    但警隊內有一些獨特的文化，往往阻礙了同事去尋求協助或伸出援手。例如「can
    do」、「打不死」、「唔好揸流灘」的精神，以及「獨立處事」、「不麻煩人」這些優良的傳統理念，雖然能提升工作效率及表現，但有同事可能會因此而勉強自己，不能接受自己的限制，遇到困難時選擇獨自去面對。
</p>
<p>
    另外，因為警務工作不時需要懷疑他人行為動機，這種慣性思考模式令警隊內對於精神健康問題有某些獨特的標籤
    —「玩嘢」、「詐病」、「攞著數」等等。當發覺某位同事出現精神或情緒病的徵狀，身邊同事們常見的反應是懷疑對方患病的真偽，然後憑自己的經驗和觀察去作出判斷。缺乏信任，往往是誤會和偏見的起點。
</p>
<p>
    因此，當同事的精神情緒出現問題時，他們或會因為害怕被歧視、被標籤、或被誤以為「玩嘢」，影響人際關係及仕途，因此傾向隱藏自己的問題，甚至到崩潰邊緣也不尋求幫助。
</p>
<p>
    如果我們能夠理解患有精神健康問題的同事所面對的種種難處和障礙，移除妄下判斷的標籤，效果會理想得多。
</p>
<p>
    我們可以：
</p>
<ul>
    <li>
        覺察自己對同事有精神病患表現的過早判斷，嘗試先抱著客觀的態度去了解對方
    </li>
    <li>
        接納受精神健康問題困擾的人
    </li>
    <li>
        拆除社會或機構內對他們的標籤及偏見
    </li>
    <li>
        能正面地和他們作良好的溝通
    </li>
</ul>