<p>
    <strong> (2). Remove Labels</strong>
</p>
<p>
    Mental health problems are becoming very common nowadays. Most of the
    patients can recover from mental disorders with timely intervention and
    suitable treatment.
</p>
<p>
    However, there are some unique cultures in the Force which make it
    difficult for colleagues to seek or offer help, for examples, the spirits
    of “can do”, “unbeatable” and “do your best”, as well as the good old
    traditions of being independent and avoiding troubling others. Although
    these cultures can boost work efficiency and performance, they may deter
    Force members from accepting their own limitations and leave them battling
    their difficulties alone.
</p>
<p>
    Moreover, since the work of policing often involves suspecting others’
    motives of behaviors, this habitual thinking pattern contributes to some
    specific stigmas associated with mental health problems within the Force—
    “trouble-making”, “faking”, “benefit-making” etc. When a colleague is found
    to exhibit symptoms of psychiatric or mood disorders, a common response of
    other colleagues is to doubt the realness of the illness and judge
    according to their own experiences and observations. The lack of trust is
    often the beginning of misunderstandings and prejudices.
</p>
<p>
    As a result, when a colleague is suffering from mood problems, he or she
    may be afraid of being discriminated against, stigmatized or misperceived
    as a trouble-maker, which may potentially affect their interpersonal
    relationships and career prospect. They may tend to hide their issues or
    refrain from help-seeking even at the brink of breakdown.
</p>
<p>
    The outcome will be much more optimal if we can understand the difficulties
    and challenges faced by our colleagues with mental health problems and
    remove our jumping-to-conclusion stigmas.
</p>
<p>
    We can:
</p>
<ul>
    <li>
        Get aware of our premature judgment towards colleagues with symptoms of
        mental illnesses and try to understand them with an objective attitude
        first
    </li>
    <li>
        Accept mentally challenged persons
    </li>
    <li>
        Remove the societal and organizational stigmas against them
    </li>
    <li>
        Maintain good communications with them with a positive attitude
    </li>
</ul>