<ol>
    <li>
        <strong></strong>
        <strong>Force Carelinks Cadre</strong>
    </li>
</ol>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Introduction—Force Carelinks Cadre</strong>
</p>
<ul>
    <li>
        Set up by Psychological Services Group (PSG) on 9<sup>th</sup> July,
        2005
    </li>
    <li>
        The name Carelinks Cadre embodies the spirit of “Care”, “Linkage” and
        “Esprit de Corps”
    </li>
    <li>
        Carelinkers are disciplined and civilian members of all ranks, serving
        on a voluntary basis
    </li>
    <li>
        Carelinkers are appointed to:
        <br/>
        (1) Promote positive living in the Force
        <br/>
        (2) Help build a caring Force
        <br/>
        (3) Render peer support to Force members
    </li>
</ul>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Functions and Activities of Carelinkers</strong>
</p>
<p>
    Carelinkers assist Force members in enhancing psychological well-being
    through a wide range of peer support services, including:
</p>
<ul>
    <li>
        Running self-development groups for Probationary Inspectors (PIs) and
        Recruit Police Constables (RPCs) at Police College
    </li>
    <li>
        Operating a Peer Support Helpline for Force members
    </li>
    <li>
        Promoting positive mental health in the Healthy Lifestyle Carnival
    </li>
    <li>
        Managing a Book Corner with different books on psychological health at
        the Force Library
    </li>
    <li>
        Conducting workshops for different units, e.g. stress management
        workshops, positive psychology workshops
    </li>
    <li>
        Responding to critical incidents in the capacity of “Critical Incident
        Peer Supporter” to assist PSG in critical incident stress management
    </li>
</ul>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Training</strong>
</p>
<p>
    Carelinkers received a series of trainings provided by PSG and other mental
    health professionals on:
</p>
<ul>
    <li>
        Basic psychology
    </li>
    <li>
        Peer counselling skills
    </li>
    <li>
        Mental health knowledge
    </li>
    <li>
        Critical incident stress management, etc.
    </li>
</ul>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Contact Us</strong>
</p>
<p>
    Carelinks Cadre Website:    <a href="http://www.carelinker.hk">http://www.carelinker.hk</a>
</p>
<p>
    Carelinks Cadre Email:    <a href="mailto:carelinks@police.gov.hk">carelinks@police.gov.hk</a>
</p>
<p>
    Carelinks Helpline: 9810 0202
</p>