<ol>
    <li>
        <strong></strong>
        <strong>警隊心聆團隊</strong>
    </li>
</ol>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>簡介</strong>
    <strong>- </strong>
    <strong>警隊心聆團隊</strong>
</p>
<ul>
    <li>
        警隊心理服務課於2005年7月9日成立「心聆團隊」
    </li>
    <li>
        團隊名稱象徵「用心關懷及樂意聆聽」，「連繫」警隊各同事，以强化警隊「團隊精神」
    </li>
    <li>
        「心聆團隊」由不同職級的警務及文職人員組成，成員以義務性質加入成爲「心聆大使」
    </li>
    <li>
        「心聆大使」的任務為：
        <br/>
        (1) 在警隊内推廣正向人生
        <br/>
        (2) 協助建立成爲有關懷精神的警隊
        <br/>
        (3) 以及幫助有需要的同事
    </li>
</ul>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>「心聆大使」的職能及活動</strong>
</p>
<p>
    「心聆大使」透過不同的服務形式，協助同事們提升心理質素，服務包括：
</p>
<ul>
    <li>
        到警察學院為見習督察及學警舉辦「成長支持小組」
    </li>
    <li>
        成立一條朋輩輔導熱綫供各同事使用
    </li>
    <li>
        參與每年一度的「健康生活嘉年華」
    </li>
    <li>
        在警隊圖書館設立「閲讀專區」，放置有關心理健康的各種書刊
    </li>
    <li>
        為有需要的單位舉辦工作坊，包括舒緩工作壓力的工作坊、正向心理學工作坊
    </li>
    <li>
        以「危機事件同儕支援員」身份，協助心理服務課提供有關危機事故後的心理支援服務
    </li>
</ul>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>訓練</strong>
</p>
<p>
    心理服務課及其他專業人仕向「心聆大使」提供一系列的訓練課程，其中包括：
</p>
<ul>
    <li>
        基本心理學
    </li>
    <li>
        朋輩輔導技巧
    </li>
    <li>
        有關精神健康的知識
    </li>
    <li>
        危機事故壓力的處理等
    </li>
</ul>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>如何聯絡我們</strong>
</p>
<p>
    「心聆團隊」網址: <a href="http://www.carelinker.hk">http://www.carelinker.hk</a>
</p>
<p>
    「心聆團隊」電郵：    <a href="mailto:carelinks@police.gov.hk">carelinks@police.gov.hk</a>
</p>
<p>
    「心聆團隊」熱綫：9810 0202
</p>