<p>
    <strong><u>參考資料（焦慮症）</u></strong>
</p>
<p>
    葵涌醫院 （n.d.） 。《認識恐慌症》。（宣傳單張）香港 : 葵涌醫院。
</p>
<p>
    葵涌醫院 （n.d.） 。《認識焦慮症》。（宣傳單張）香港 : 葵涌醫院。
</p>
<p>
    葵涌醫院 （n.d.） 。《認識強迫症》。（宣傳單張）香港 : 葵涌醫院。
</p>
<p>
    American Psychiatric Association (2013).
    <em>
        Diagnostic and Statistical Manual of Mental
        <br/>
        Disorders, 5<sup>th</sup> ed. (DSM-5 (TM)).
    </em>
    Washington, DC: American Psychiatric
    <br/>
    Association.
</p>
<p>
    American Psychiatric Association (2017).    <em>What are Anxiety Disorders?</em>. Retrieved 3
    <br/>
    Jul, 2017 from
    <br/>
    <a
            href="https://www.psychiatry.org/patients-families/anxiety-disorders/what-are-anxiety-disorders"
    >
        https://www.psychiatry.org/patients-families/anxiety-disorders/what-are-anxiety-disorders
    </a>
</p>
<p>
    Chui, W. (2012). Update on Pharmacological Management of Generalized
    Anxiety
    <br/>
    Disorder. <em>The Hong Kong Medical Diary</em>, 17(8), pp.4
</p>
<p>
    Hudson, J.L. &amp; Rapee, R.M. (2001). Parent-child interactions and
    anxiety disorders:
    <br/>
    an observational study. <em>Behaviour Research and Therapy</em>, 39(12),
    pp.1141-1427.
    <a href="http://dx.doi.org/10.3390/ijerph14020142">
        http://dx.doi.org/10.1016/S0005-7967(00)00107-8
    </a>
</p>
<p>
    Martini, F.H., Nath, J.L., &amp; Bartholomew, E.F. (2012). Chapter 16:
    Neural Integration II:
    <br/>
    The Autonomic Nervous System and Higher-Order Functions.
    <em>
        Fundamentals of
        <br/>
        Anatomy and Physiology
    </em>
    (9th ed.). San Francisco: Pearson.
</p>
<p>
    Smart Patient. (2017). <em>Generalized Anxiety Disorder</em>. Retrieved 3
    Jul, 2017 from
    <br/>
    <a
            href="http://www21.ha.org.hk/smartpatient/SPW/en-US/Disease-Information/Chronic-Diseases-Zone/Details/?guid=9402ffd7-3dd1-4f27-ade0-4681000b4cc1"
    >
        http://www21.ha.org.hk/smartpatient/SPW/en-US/Disease-Information/Chronic-Diseases-Zone/Details/?guid=9402ffd7-3dd1-4f27-ade0-4681000b4cc1
    </a>
</p>
<p>
    Turner, S.M., Beidel, D.C., Nay R.R. &amp; Tervo, K. (2003). Parenting
    behavior in
    <br/>
    parents with anxiety disorders. <em>Behaviour Research and Therapy</em>,
    41(5),
    <br/>
    pp.541-554.
    <a href="http://dx.doi.org/10.3390/ijerph14020142">
        http://dx.doi.org/10.1016/S0005-7967(02)00028-1
    </a>
</p>
<p>
    University of Maryland Medical Center (2017). Anxiety disorders. Retrieved
    3 Jul,
    <br/>
    2017 from
    <a
            href="http://www.umm.edu/health/medical/reports/articles/anxiety-disorders"
    >
        http://www.umm.edu/health/medical/reports/articles/anxiety-disorders
    </a>
</p>
<p>
    Videbeck, S.L. (2011). Chapter 13: Anxiety, Anxiety Disorders, and
    Stress-Related
    <br/>
    Illness. <em>Psychiatric-Mental Health Nursing</em> (5<sup>th</sup> ed.
    pp.227-247).
    <br/>
    Philadelphia:Wolters Kluwer Health/Lippincott Williams &amp; Wilkins
</p>
