<p>
    <strong><u>參考資料（</u></strong>
    雙極性情感障礙<strong><u>）</u></strong>
</p>
<p>
    葵涌醫院（n.d.） 。《認識躁狂抑鬱症》。（宣傳單張）香港 : 葵涌醫院。
</p>
<p>
    American Psychiatric Association (2013).
    <em>
        Diagnostic and Statistical Manual of Mental Disorders, 5<sup>th</sup>
        ed. (DSM-5 (TM)).
    </em>
    Washington, DC: American Psychiatric Association.
</p>
<p>
    Cohen, B.J. (2003). Chapter 7: Mood Disorders (pp.167).    <em> Theory and practice of psychiatry. </em>UK: Oxford University Press
</p>
<p>
    Gomex-Bernal, G.J. &amp; Bernal-Perex, M. (2007). Vitamin B12 deficiency
    manifested as
    <br/>
    mania: A case report.
    <em>
        Primary Care Companion to The Journal of Clinical
        <br/>
        Psychiatry
    </em>
    , 9(3).
</p>
<p>
    Martini, F.H., Nath, J.L., &amp; Bartholomew, E.F. (2012). Chapter 16:
    Neural Integration II:
    <br/>
    The Autonomic Nervous System and Higher-Order Functions.    <em> Fundamentals of </em>
    <br/>
    <em>Anatomy and Physiology</em>
    (9th ed.). San Francisco: Pearson.
</p>
<p>
    National Institute of Mental Health (2017).    <em>Chronic Illness &amp; Mental Health</em>. Retrieved
    <br/>
    3 Jul, 2017 from
    <a
            href="https://www.nimh.nih.gov/health/publications/chronic-illness-mental-health/index.shtml"
    >
        https://www.nimh.nih.gov/health/publications/chronic-illness-mental-health/index.shtml
    </a>
</p>
<p>
    Peet, M. &amp; Peters, S. (1995). Drug-induced mania. <em>Drug Safety</em>
    ,12(2). pp.146-153.
    <a href="http://dx.doi.org/10.2165/00002018-199512020-00007">
        http://dx.doi.org/10.2165/00002018-199512020-00007
    </a>
</p>
<p>
    Smart Patient. (2017). <em>Bipolar Affective Disorder</em>. Retrieved 3
    Jul, 2017 from
    <a
            href="http://www21.ha.org.hk/smartpatient/en/chronicdiseases_zone/details.html?id=182"
    >
        http://www21.ha.org.hk/smartpatient/en/chronicdiseases_zone/details.html?id=182
    </a>
</p>
<p>
    Videbeck, S.L. (2011). Chapter 15: Mood Disorders.    <em>Psychiatric-Mental Health Nursing</em> (5<sup>th</sup> ed. pp.298-303).
    Philadelphia:Wolters Kluwer Health/Lippincott
    <br/>
    Williams &amp; Wilkins
</p>