<p>
    <strong><u>參考資料</u></strong>
    <strong><u> </u></strong>
    <strong><u>（抑鬱症）</u></strong>
</p>
<p>
    香港大學香港賽馬會防止自殺研究中心（2004）。（小冊子）《破解抑鬱─中年人應變手冊》。香港 : 香港大學。
</p>
<p>
    葵涌醫院 （n.d.） 。《認識抑鬱症》。（宣傳單張）香港 : 葵涌醫院。
</p>
<p>
    American Psychiatric Association (2013).
    <em>
        Diagnostic and Statistical Manual of Mental
        <br/>
        Disorders, 5<sup>th</sup> ed. (DSM-5 (TM)).
    </em>
    Washington, DC: American Psychiatric Association.
</p>
<p>
    Central Health Education Unit Department of Health (n.d.).    <em>Depression</em> [Pamphlet].
    <br/>
    HK:The Government Logistics Department
</p>
<p>
    Harvard Health Publications (2017). What causes depression?. Retrieved 3
    Jul, 2017
    <br/>
    from
    <a
            href="http://www.health.harvard.edu/mind-and-mood/what-causes-depression"
    >
        http://www.health.harvard.edu/mind-and-mood/what-causes-depression
    </a>
</p>
<p>
    Kelsoe, J. R. (2005). Mood disorders: Genetics. In B. J. Sadock &amp; V.A.
    Sadock (Eds.),
    <br/>
    <em>Comprehensive textbook of psychiatry </em>
    (Vol. 1, 8<sup>th</sup> ed., pp. 1582–1594).
    <br/>
    Philadelphia: Lippincott Williams &amp; Wilkins.
</p>
<p>
    Smart Patient. (2017). <em>Depression</em>. Retrieved 3 Jul, 2017 from
    <br/>
    <a
            href="http://www21.ha.org.hk/smartpatient/en/chronicdiseases_zone/details.html?id=175"
    >
        http://www21.ha.org.hk/smartpatient/en/chronicdiseases_zone/details.html?id=175
    </a>
</p>
<p>
    Videbeck, S.L. (2011). Chapter 15: Mood Disorders.
    <em>
        Psychiatric-Mental Health
        <br/>
        Nursing
    </em>
    (5<sup>th</sup> ed. pp.283-294). Philadelphia:Wolters Kluwer
    <br/>
    Health/Lippincott Williams &amp; Wilkins
</p>
<p>
    Winch, G. (2015).    <em>The Important Difference Between Sadness and Depression</em>.
    <br/>
    Retrieved 3 Jul, 2017 from
    <br/>
    <a
            href="https://www.psychologytoday.com/blog/the-squeaky-wheel/201510/the-important-difference-between-sadness-and-depression"
    >
        https://www.psychologytoday.com/blog/the-squeaky-wheel/201510/the-important-difference-between-sadness-and-depression
    </a>
</p>
<p>
    World Health Organization (2017). Fact Sheet on Depression. Retrieved 28
    Nov, 2017 from <a href="http://www.who.int/mediacentre/factsheets/fs369/en/">
    http://www.who.int/mediacentre/factsheets/fs369/en/
</a>
</p>