<p>
    Reference:
</p>
<p>
    American Psychiatric Association (2013).
    <em>
        Diagnostic and Statistical Manual of Mental
        <br/>
        Disorders, 5<sup>th</sup> ed. (DSM-5 (TM)).
    </em>
    Washington, DC: American Psychiatric
    <br/>
    Association.
</p>