<p>
    Reference:
</p>
<p>
    葵涌醫院 （n.d.） 。《認識強迫症》。（宣傳單張）香港 : 葵涌醫院。
</p>
<p>
    青山醫院精神健康學院
    譚鳳翎醫生。《強迫症》。摘自<a href="http://www3.ha.org.hk/cph/imh/mhi/article_02_03_05_chi.asp">
    http://www3.ha.org.hk/cph/imh/mhi/article_02_03_05_chi.asp
</a>
</p>
<p>
    American Psychiatric Association (2013).
    <em>
        Diagnostic and Statistical Manual of Mental
        <br/>
        Disorders, 5<sup>th</sup> ed. (DSM-5 (TM)).
    </em>
    Washington, DC: American Psychiatric
    <br/>
    Association.
</p>