<p>
    <strong><u>參考資料（思覺失調）</u></strong>
    <strong><u></u></strong>
</p>
<p>
    青山醫院精神健康學院
    崔永豪醫生。《思覺失調》。摘自<a href="http://www3.ha.org.hk/cph/imh/mhi/article_02_03_01_chi.asp">
    http://www3.ha.org.hk/cph/imh/mhi/article_02_03_01_chi.asp
</a>
</p>
<p>
    葵涌醫院（n.d.） 。《認識精神分裂症》。（宣傳單張）香港 : 葵涌醫院。
</p>
<p>
    葵涌醫院（n.d.） 。《認識妄想症》。（宣傳單張）香港 : 葵涌醫院。
</p>
<p>
    CFH健康知識網。《妄想症》。摘自
    <a
            href="http://cfh.com.tw/ClassifyByDisease/%E8%85%A6-%E7%A5%9E%E7%B6%93%E7%B3%BB%E7%B5%B1-%E7%B2%BE%E7%A5%9E%E7%A7%91/Jul--2013/%E7%B0%A1%E4%BB%8B%EF%BC%9A%E5%A6%84%E6%83%B3%E7%97%87.aspx"
    >
        http://cfh.com.tw/ClassifyByDisease/%E8%85%A6-%E7%A5%9E%E7%B6%93%E7%B3%BB%E7%B5%B1-%E7%B2%BE%E7%A5%9E%E7%A7%91/Jul--2013/%E7%B0%A1%E4%BB%8B%EF%BC%9A%E5%A6%84%E6%83%B3%E7%97%87.aspx
    </a>
</p>
<p>
    林奕萱醫師。《外表行為看起來很正常...精神科醫師：「被害妄想症」跟你想的不一樣》。摘自<a href="http://health.businessweekly.com.tw/AArticle.aspx?id=ARTL000041989">
    http://health.businessweekly.com.tw/AArticle.aspx?id=ARTL000041989
</a>
</p>
<p>
    American Psychiatric Association (2013).
    <em>
        Diagnostic and Statistical Manual of Mental
        <br/>
        Disorders, 5<sup>th</sup> ed. (DSM-5 (TM)).
    </em>
    Washington, DC: American Psychiatric
    <br/>
    Association.
</p>
<p>
    Brady, N., &amp; McCain, G. (2004). Living with Schizophrenia: A Family
    Perspective.<em> The </em>
    <br/>
    <em>Online Journal of Issues in Nursing</em>
    , 10(1).
    <a href="http://dx.doi.org/10.1350/ijps.2012.14.4.293">
        http://dx.doi.org/10.3912/OJIN.Vol10No01HirshPsy01
    </a>
</p>
<p>
    Bhuyan, D., &amp; Chaudhury, P.K. (2016). Nature and Types of Delusion In
    Schizophrenia And Mania - Is There A Difference?.    <em>IOSR Journal of Dental and </em>
    <em>Medical Sciences</em>
    , 15(5), pp.01-06.
    <a href="http://dx.doi.org/10.1350/ijps.2012.14.4.293">
        http://dx.doi.org/10.9790/0853-150502016
    </a>
</p>
<p>
    Kuruvilla, A., &amp; Jacob, K.S. (2007). Poverty, social stress &amp;
    mental health.
    <em>
        Indian
        Journal of Medical Research
    </em>
    ,126(4) pp.273-278. Retrieved 12 July, 2017 from    <a href="http://www.ijmr.org.in/">http://www.ijmr.org.in</a>
</p>
<p>
    Martini, F.H., Nath, J.L., &amp; Bartholomew, E.F. (2012). Chapter 16:
    Neural Integration II:
    The Autonomic Nervous System and Higher-Order Functions.    <em> Fundamentals of </em>
    <em>Anatomy and Physiology</em>
    (9th ed.). San Francisco: Pearson.
</p>
<p>
    Parle, S.(2012). How does stigma affect people with mental illness?.    <em>Nursing Times</em>,
    108(28), pp.12-14. Retrieved 12 July, 2017 from
    <a
            href="https://www.nursingtimes.net/Journals/2012/07/06/q/p/l/120710-How-does-stigma-affect-people-with-mental-illness.pdf"
    >
        https://www.nursingtimes.net/Journals/2012/07/06/q/p/l/120710-How-does-stigma-affect-people-with-mental-illness.pdf
    </a>
</p>
<p>
    Smart Patient. (2017). <em>Schizophrenia</em>. Retrieved 3 Jul, 2017 from
    <a
            href="http://www21.ha.org.hk/smartpatient/SPW/en-US/Disease-Information/Chronic-Diseases-Zone/Details/?guid=99db6e3e-36ba-4d48-9705-bd193a4a67ca"
    >
        http://www21.ha.org.hk/smartpatient/SPW/en-US/Disease-Information/Chronic-Diseases-Zone/Details/?guid=99db6e3e-36ba-4d48-9705-bd193a4a67ca
    </a>
</p>
<p>
    Videbeck, S.L. (2011). Chapter 14: Schizophrenia.
    <em>
        Psychiatric-Mental Health
        <br/>
        Nursing
    </em>
    (5<sup>th</sup> ed. pp.252-267). Philadelphia:Wolters Kluwer
    <br/>
    Health/Lippincott Williams &amp; Wilkins
</p>