<ol>
    <li>
        <strong>有關精神健康及求助的謬誤</strong>
        <strong>(1). 對精神病的七大誤解</strong>
    </li>
</ol>
<p>
    <br/>
    <strong>一、「患上精神病係弱者嘅表現」</strong>
</p>
<ul>
    <li>
        個人的堅強程度與精神健康是兩個不同的概念，但很多人會誤將患精神病的人定性為個人軟弱表現。
    </li>
    <li>
        患上精神病的人不代表他們軟弱，許多面對精神健康挑戰的人都比想像中更堅韌。
    </li>
</ul>
<p>
    <strong>二、「精神病患者都有暴力傾向」</strong>
</p>
<ul>
    <li>
        性格、社會或自身環境因素（如貧窮、失業、無家可歸、物質濫用等），都是會導致一個人使用暴力犯罪的常見因素。將暴力行為單一地歸咎於精神病並不恰當。
    </li>
    <li>
        事實上，大部分精神病患者根本沒有暴力傾向。
    </li>
</ul>
<p>
    <strong>三、「話自己有精神病嘅都係『玩嘢』喳嘛! 肯定係搵藉口卸膊啦！」</strong>
</p>
<ul>
    <li>
        我們不能完全排除這個可能性，但在評估時必須保持客觀，切勿過早妄下判斷。
    </li>
    <li>
        精神疾患是有嚴格的醫學根據和標準評估出來的疾病。個人意見不認同某些行為表現是精神疾患，並不能推翻嚴謹醫學研究的結果。
    </li>
</ul>
<p>
    <strong>四、「精神病單靠食藥就可以好得番㗎啦！」</strong>
</p>
<ul>
    <li>
        藥物治療只是其中一種治療精神病的方法，通常要運用其他方法如心理治療、朋輩支持和自助法去配合處方藥物，才可以達到更好的治療效果。
    </li>
    <li>
        有研究顯示，心理治療及藥物治療雙管齊下更有成效，特別是控制長期性抑鬱症病情的穩定性。
    </li>
</ul>
<p>
    <strong>五、「精神病又唔關我事，唔會影響到我嘅！」</strong>
</p>
<ul>
    <li>
        有研究估計每4個人就有1位有機會在他們的一生中經歷精神病困擾。
    </li>
    <li>
        即使自己沒有患上精神病，但你的朋友、家人或同事依然有可能面對這項挑戰，故你亦無法避免接觸受精神病困擾的人。
        <br/>
    </li>
</ul>
<p>
    <strong>六、「精神病患者唔食得、唔做得、唔玩得？」</strong>
</p>
<ul>
    <li>
        患有精神病並不等同完全失去工作能力。
    </li>
    <li>
        很多精神病患者依然很努力工作，只是暫時因病癥或藥物的副作用影響，導致他們無法充份發揮自己的最佳能力。
    </li>
</ul>
<p>
    <strong>七、「我有精神病… 咁即係話我係『痴線』嘅?」</strong>
</p>
<ul>
    <li>
        以往人們對精神病認識不多，故此對行為表現異常的精神病患者冠上這個負面標籤。
    </li>
    <li>
        從科學觀點而言，精神病是由一系列生理、心理及環境因素共同導致的疾病。
    </li>
    <li>
        其中一個生理因素，是由於腦部內的「神經傳遞物質」失衡所導致的。除非是重性精神問題如精神分裂症，否則一般的精神病患者都有強烈的病識感，能認知自己的精神狀態及有意識和邏輯地去處理日常生活。
    </li>
</ul>