<p>
    <strong>II. Myths about Mental Health and Help-Seeking</strong>
</p>
<p>
    <strong>(1). 7 Myths on Mental Illness</strong>
</p>
<ol>
    <li>
        “Mental disorders are a sign of weakness”
        <ul type="disc">
            <li>
                Degree of resilience and mental health are two distinct concepts, but
                many people would mistake people affected by mental illness as being
                personally weak.
            </li>
            <li>
                Suffering from a mental disorder does not mean that the person is weak.
                Many mentally challenged individuals are more resilient than we think.
            </li>
        </ul>
    </li>
    <li>
        <strong> “People living with mental illness are violent”</strong>
        <ul type="disc">
            <li>
                Common causes of violent crimes include personality, societal and
                personal environment (e.g. poverty, unemployment, homelessness and
                substance abuse). It is inappropriate to attribute violent behaviors
                solely to mental illnesses.
            </li>
            <li>
                In fact, most of the people affected by mental illnesses do not have a
                violent tendency.
            </li>
        </ul>
    </li>
    <li>
        <strong>
            “Those who claim to have mental disorders are simply making
            troubles! They must be finding excuses to shirk their
            responsibilities!”
        </strong>
        <ul type="disc">
            <li>
                We cannot totally eliminate this possibility, but we must stay
                objective in our evaluation and avoid jumping to conclusion.
            </li>
            <li>
                Mental illnesses are diagnosed on the basis of rigorous research
                evidence and scientific standards. Personal opinions about what kinds
                of behaviors should constitute mental illnesses cannot override the
                results from rigorous medical research.
            </li>
        </ul>
    </li>
    <li>
        <strong>
            “Mental disorders can be treated simply with medication!”
        </strong>
        <ul type="disc">
            <li>
                Medication is only one of the many options for treating mental
                disorders. In many cases, treatment is more effective when medication
                is combined with psychotherapy, peer support and self-help methods.
            </li>
            <li>
                Research evidence shows that the combination of psychotherapy and
                pharmacotherapy is more effective than either treatment alone,
                especially in controlling the symptomatic course of chronic depression.
            </li>
        </ul>
    </li>
    <li>
        <strong>
            “Mental disorders are none of my business. They are not going to
            affect me!”
        </strong>
        <ul type="disc">
            <li>
                Some research studies estimate that one in every four individuals may
                develop a mental disorder in a lifetime.
            </li>
            <li>
                Even if you do not have a mental illness, your friends, family members
                or colleagues may possibly be facing a mental health challenge. You can
                hardly avoid interacting with people affected by mental disorders.
            </li>
        </ul>
    </li>
    <li>
        <strong>
            “People with mental disorders cannot eat, work or play?”
        </strong>
        <ul type="disc">
            <li>
                Developing a mental disorder does not imply losing the ability to work
                completely.
            </li>
            <li>
                Many people with mental disorders are nevertheless working very hard,
                yet they may not be able to fully demonstrate their best potentials due
                to their symptoms or side-effects of medication.
            </li>
        </ul>
    </li>
    <li>
        <strong>
            “I have a mental disorder…that means I am ‘crazy’, right?”
        </strong>
        <ul type="disc">
            <li>
                In the past people had limited understanding about mental disorders,
                and so they stigmatized those mentally challenged persons with bizarre
                behaviors with this negative label.
            </li>
            <li>
                From a scientific perspective, mental disorders are outcomes of a
                combination of biological, psychological and environmental factors.
            </li>
            <li>
                One of the biological factors is the imbalance of neurotransmitters in
                our brains. Apart from people with severe psychiatric problems like
                schizophrenia, mentally challenged persons generally have good insights
                about their disorders, that they understand their own mental states and
                cope with everyday living consciously and reasonably.
            </li>
        </ul>
    </li>
</ol>