<p>
    <strong>(2). 6 Myths on Help-Seeking</strong>
</p>
<p>
    <strong></strong>
    <br/>
</p>
<ol>
    <li>
        <strong></strong>
        <strong>
            “Only mad people need to visit a counsellor. I am not mad!”
        </strong>
    </li>
</ol>
<ul>
    <li>
        There is nothing shameful about receiving counselling services.
    </li>
    <li>
        Counselling helps the client to relieve his or her emotions through
        talking about them and to handle difficulties.
    </li>
    <li>
        Receiving timely counselling can reduce the worsening of mental and
        mood problems.
    </li>
</ul>
<ol>
    <li>
        <strong></strong>
        <strong>
            “If I tell others about my mental health problem, I can never have
            a development opportunity at the Force!”
        </strong>
    </li>
</ol>
<ul>
    <li>
        A lot of Force members who had previously sought counselling services
        are still enjoying their work. Some of them even have a promotion
        opportunity.
    </li>
    <li>
        If your work performance is affected because of the worsening of
        problems due to decline of help-seeking, then that is indeed posing a
        negative impact on your career prospect at the Force.
    </li>
</ul>
<ol>
    <li>
        <strong></strong>
        <strong>
            “If I ask for help then am I not saying that I am a ‘coward’?”
        </strong>
    </li>
</ol>
<ul>
    <li>
        It is the exact opposite. To be able to get aware of and directly face
        one’s own problems is a sign of wisdom and maturity.
    </li>
    <li>
        Seeking help proactively is a courageous and responsible act.
    </li>
</ul>
<p>
    <strong></strong>
    <br/>
</p>
<ol>
    <li>
        <strong></strong>
        <strong>
            “If my problems can’t even be solved by myself, then others
            probably can’t help either!”
        </strong>
    </li>
</ol>
<ul>
    <li>
        Apart from tangible support like financial support, emotional and
        societal support are essential in increasing one’s adaptiveness and
        resilience.
    </li>
    <li>
        If you find yourself to be out of solutions, why not give it a try?
        There is nothing to lose no matter what the result is.
    </li>
</ul>
<ol>
    <li>
        <strong></strong>
        <strong> “Counselling? Isn’t it a mere chit-chat?”</strong>
    </li>
</ol>
<ul>
    <li>
        Professional counselling works through talking with the client:
    </li>
    <ul>
        <ul>
            <li>
                Practical support—for example in the aspect of work, the
                counsellor can help reflect the psychological state and
                difficulties to the supervisor with the client’s consent.
            </li>
            <li>
                Provision of information—give appropriate recommendations and
                relevant information based on the client’s situation, including
                mental health knowledge and treatment methods.
            </li>
            <li>
                Emotional support—facilitate the client to express his or her
                emotions, enhance self-understanding, and offer trust and
                encouragement.
            </li>
        </ul>
    </ul>
</ul>
<ol>
    <li>
        <strong></strong>
        <strong>
            “I am also under stress! Why don’t I have any mental disorder?”
        </strong>
    </li>
</ol>
<ul>
    <li>
        Everyone’s stress reaction is unique. We all have different
        physiological states, upbringings and experiences. We cannot judge the
        difficulties or stress faced by mentally challenged persons according
        to our own experiences.
    </li>
    <li>
        When facing mentally challenged individuals, the main concern is the
        level of severity of the person’s stress reaction. We should put aside
        our judgmental attitude in order not to miss the precious timing for
        intervention.
    </li>
</ul>