<p>
    <strong>(2). 對輔導服務的六大迷思</strong>
</p>
<ol>
    <li>
        <strong>「痴線嘅人先要去見輔導，我唔駛啦！」</strong>
        <ul type="disc">
            <li>
                接受輔導並非一件羞恥的事。
            </li>
            <li>
                輔導有助當事人說出內心感受以抒解情緒和處理困難。
            </li>
            <li>
                及早接受輔導能減低精神情緒問題的惡化。
                <br/>
            </li>
        </ul>
    </li>
    <li>
        <strong>「如果講俾人知我有精神健康問題，以後喺警隊永遠都唔會有發展嘅機會！」</strong>
        <ul type="disc">
            <li>
                很多以往曾經尋求過輔導的警務人員依然享受自己的工作，甚至獲得晉升的機會。
            </li>
            <li>
                如果拒絕尋求協助而導致問題惡化，影響工作能力和表現，才真正對在警隊裡的仕途帶來負面的影響。
                <br/>
            </li>
        </ul>
    </li>
    <li>
        <strong>「我搵人幫咪即係我『弱雞』?」</strong>
        <ul type="disc">
            <li>
                正好相反，能夠察覺並願意正面面對自己的問題，才是明智和成熟的表現。
            </li>
            <li>
                主動尋求協助是勇敢且負責任的表現。
                <br/>
            </li>
        </ul>
    </li>
    <li>
        <strong>「如果連我都解決唔到自己嘅問題，其他人都唔會幫到我啦！」</strong>
        <ul type="disc">
            <li>
                除實質援助如經濟支持外，情緒及社會支援對增強適應力和處理逆境都是十分重要的。
            </li>
            <li>
                如果你發現自己已經無計可施，不妨一試，不管結果如何也不吃虧。
            </li>
        </ul>
    </li>
    <li>
        <strong>「輔導？係咪即係『吹水』啊？」</strong>
        <ul type="disc">
            <li>
                專業的輔導會通過與當事人傾談而發揮其功效：
            </li>
            <li>
                實際支援 – 如在工作上，如獲當事人同意，可向上級反映其心理狀況、困難或情況。
            </li>
            <li>
                資訊提供 – 按當事人的狀況給予適切的建議和相關的資料，如精神健康知識及治療方法。
            </li>
            <li>
                情緒支援 – 促進當事人抒發感受，加強自我了解，給予信任及鼓勵。
            </li>
        </ul>
    </li>
    <li>
        <strong>「我夠一樣有壓力啦！又唔見我有精神病？」</strong>
        <ul type="disc">
            <li>
                每個人都有獨特的壓力反應，不同的生理狀況、成長和經歷，因此我們無法以自身經歴去判斷精神病患者所面對的問題或壓力。
            </li>
            <li>
                面對精神病患者時的著眼點應該是他/她對困難和壓力的反應的嚴重程度，盡量避免以審度批判眼光看待，錯過寶貴的援助時機。
            </li>
        </ul>
    </li>
</ol>