<p>
    <strong>Chapter 6: Services for Alcohol and Substance Abuse</strong>
</p>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>I. Hospitals under the Hospital Authority</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Prince of Wales Hospital / North District Hospital
                Substance Abuse Clinic
            </p>
        </td>
        <td valign="top">
            <p>
                2632 2584
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Castle Peak Hospital Tuen Mun Substance Abuse Clinic
            </p>
        </td>
        <td valign="top">
            <p>
                2456 8260
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Kwai Chung Hospital Substance Abuse Assessment Clinic
            </p>
        </td>
        <td valign="top">
            <p>
                2959 8082
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Kowloon Hospital Substance Abuse Clinic
            </p>
        </td>
        <td valign="top">
            <p>
                3129 6710
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Western Psychiatric Centre
            </p>
            <p>
                in the David Trench Rehabilitation
            </p>
            <p>
                Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2517 8140
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Kowloon East Substance Abuse Clinic
            </p>
        </td>
        <td valign="top">
            <p>
                3949 5070
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>II. Non-Governmental Organizations</strong>
</p>
<p>
    The organizations below provide support for people with alcohol abuse
    issues:
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Tung Wah Group of Hospitals
            </p>
        </td>
        <td valign="top">
            <p>
                2884 9876
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Alcoholics Anonymous
            </p>
            <p>
                24-hour Hotline
            </p>
        </td>
        <td valign="top">
            <p>
                2578 9822 (Chinese)
            </p>
            <p>
                2522 5665 (English)
            </p>
            <p>
                9073 6922
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Caritas Lok Heep Club
            </p>
            <p>
                Hong Kong Centre
            </p>
            <p>
                Kowloon Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2893 8060
            </p>
            <p>
                2382 0267
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>
        III. Counselling Centers for Psychotropic Substance Abusers
    </strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Tung Wah Group Hospitals Gambling Addiction
            </p>
        </td>
        <td valign="top">
            <p>
                2884 1234
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Lutheran Social Service, the Lutheran Church
                (Kwun Tong)—Hong Kong Synod
            </p>
            <p>
                Evergreen Lutheran Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2712 0097
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Lutheran Social Service, the Lutheran Church
                (Wong Tai Sin &amp; Sai Kung)—Hong Kong Synod Rainbow
                Lutheran Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2330 8004
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Lutheran Social Service, the Lutheran Church (Tai
                Po &amp; North)—Hong Kong Synod Cheer Lutheran Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2660 0400
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Christian Service (Kowloon City &amp; Yau Tsim
                Mong)—Tsim Sha Tsui Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2368 8269
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Christian Service (Sham Shui Po)—Sham Shui Po
                Centre
            </p>
        </td>
        <td valign="top">
            <p>
                3572 0673
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Children &amp; Youth Services (Tsuen Wan &amp;
                Kwai Tsing)—Sane Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2402 1010
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Caritas Hong Kong
            </p>
            <p>
                Caritas HUGS Centre (Tuen Mun)
            </p>
        </td>
        <td valign="top">
            <p>
                2453 7030
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                The Evangelical Lutheran Church of Hong Kong (ELCHK) (Yuen
                Long), Social Service Head Office
            </p>
            <p>
                ELCHK, Enlighten Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2446 9226
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Sheng Kung Hui Welfare Council (Sha Tin)—Hong
                Kong Sheng Kung Hui Welfare Council Neo-Horizon
            </p>
        </td>
        <td valign="top">
            <p>
                8202 1313
            </p>
        </td>
    </tr>
    </tbody>
</table>