<strong>I. 醫院管理局轄下醫院</strong>
<img src="images/alcohol1_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>II. 非政府機構</strong>
</p>
<p>
    以下的機構均會協助有酗酒問題的人士：
</p>
<img src="images/alcohol2_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>III. 濫用精神藥物者輔導中心</strong>
</p>
<img src="images/alcohol3_zh-tw.png" alt="phone list" style="max-width: 100%">