<p>
    <strong>Chapter 5: Services for Indebtedness and Problem Gambling</strong>
</p>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>I. Personal Debts Management </strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Tung Wah Group of Hospitals—Healthy Budgeting Family Debt
                Counselling Centre (Debt Counselling Services)
            </p>
        </td>
        <td valign="top">
            <p>
                2548 0803
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Caritas Family Crisis Support Centre—
            </p>
            <p>
                Debt and Financial Capability Service
            </p>
        </td>
        <td valign="top">
            <p>
                3161 2929
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Official Receiver’s Office
            </p>
        </td>
        <td valign="top">
            <p>
                2867 2448
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Financial Problems and Difficulties Hotline (HKPF Internal
                Service)
            </p>
        </td>
        <td valign="top">
            <p>
                2804 2803
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2" valign="top">
            <p>
                Financial Information Webpage (HKPF Internal Service)
                
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>II. Problem Gambling</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Tung Wah Group of Hospitals—Even Centre (Counselling and
                Treatment Services for Problem and Pathological Gamblers)
            </p>
        </td>
        <td valign="top">
            <p>
                2827 4321
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Caritas Addicted Gamblers’ Counselling Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2499 7828
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Gambling Counselling Hotline Service (jointly provided by
                Caritas and Tung Wah Group of Hospitals)
            </p>
        </td>
        <td valign="top">
            <p>
                1834 633
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Problem Gambling Prevention and Treatment Association
            </p>
        </td>
        <td valign="top">
            <p>
                8203 8148
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                The Methodist Gambling Treatment Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2520 4933
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                The Industrial Evangelistic Fellowship Rehabilitation
                Centre for Problem Gamblers Gambling Counselling Hotline
                Service
            </p>
        </td>
        <td valign="top">
            <p>
                2748 7207
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Zion Social Service Yuk Lai Hin Gambling Counselling Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2703 9893
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Kei Yam Alliance Church—Gambling Counselling Service
            </p>
        </td>
        <td valign="top">
            <p>
                9090 1193/ 3188 1123
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Christian New Hope Fellowship
            </p>
        </td>
        <td valign="top">
            <p>
                8116 0083
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Sunshine Lutheran Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2661 7048
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Christian Anonymous Counselling Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2386 7833
            </p>
        </td>
    </tr>
    </tbody>
</table>
