<p>
    <strong>Chapter 4: Family Services</strong>
</p>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Hong Kong Island</strong>
</p>
<p>
    <strong>Central and Western District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Central and Islands Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2852 3137
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                High Street Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2857 6867
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Grace and Joy Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2810 1105
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Eastern and Wan Chai District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Causeway Bay Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2895 5159
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Quarry Bay Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2562 4783
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Chai Wan (West) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2569 3855
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Chai Wan (East) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2505 8733
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Eastern Centre—North Point Integrated Family
                Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2832 9700
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Caritas Integrated Family Service Centre—Shau Kei Wan
            </p>
        </td>
        <td valign="top">
            <p>
                2896 0302
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                St. James’ Settlement—Wan Chai Integrated Family Service
                Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2835 4342
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>Southern District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Aberdeen Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2875 8685
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Caritas Integrated Family Service Centre— Aberdeen (Tin
                Wan/Pok Fu Lam)
            </p>
        </td>
        <td valign="top">
            <p>
                2555 1993
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Kowloon East</strong>
</p>
<p>
    <strong>Kwun Tong District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Kai Ping Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                3568 7037
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Sau Po Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2775 3578
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Lam Tin Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2717 9247
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Ngau Tau Kok Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2389 0466
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Family Energizer (Integrated Family Service)
            </p>
        </td>
        <td valign="top">
            <p>
                2318 0028
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Kwun Tong Centre—Shun Lee Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2342 2291
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                East Kowloon Centre—Yau Tong Integrated Family Service
                Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2775 2332
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>Wong Tai Sin and Sai Kung District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Sai Kung Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2791 0692
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tseung Kwan O (East) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2701 7704
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tseung Kwan O (North) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2701 9495
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tsz Wan Shan Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2326 7575
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Wong Tai Sin Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2327 4973
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tseung Kwan O Centre—Tseung Kwan O (South) Integrated
                Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2177 4321
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Caritas Integrated Family Service Centre—Tung Tau (Wong Tai
                Sin South West)
            </p>
        </td>
        <td valign="top">
            <p>
                2383 3377
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>Kowloon West</strong>
</p>
<p>
    <strong>Kowloon City and Yau Tsim Mong District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Ma Tau Wai Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2760 1659
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                To Kwa Wan Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2363 8202
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Yau Ma Tei Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2388 2527
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hung Hom Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2761 1106
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Mong Kok Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2171 4001
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Christian Service Family Networks—Yau Tsim
                Integrated Family Services Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2731 6227
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Kai Tak Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                3996 7700
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>Sham Shui Po District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Cheung Sha Wan Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2360 1364
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tai Hang Tung Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2777 3015
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                West Kowloon Centre Sham Shui Po (West) Integrated Family
                Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2720 5131
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Sham Shui Po (South) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2386 6967
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Family Ties Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                3994 2828
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>New Territories South</strong>
</p>
<p>
    <strong>Shatin District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Shatin (North) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                3168 2904
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Shatin (South) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2158 6593
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Ma On Shan (North) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2691 6499
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Ma On Shan (South) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                3579 8654
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Caritas Dr. &amp; Mrs. Olinto de Sousa Integrated Family
                Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2649 2977
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>Tsuen Wan and Kwai Tsing District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Tsuen Wan (West) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2439 5429
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Kwai Chung (East) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2428 0967 / 2428 0969
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Kwai Chung (West) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2421 4281
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tsing Yi (North) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2435 3938
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tsing Yi (South) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2435 0852
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Caritas Integrated Family Service Centre—Tsuen Wan (East)
            </p>
        </td>
        <td valign="top">
            <p>
                2402 4669
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Kwai Chung Centre—Kwai Chung (South) Integrated Family
                Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2426 9621
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>Lantau Island District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                The Neighbourhood Advice-Action Council Tung Chung
                Integrated Services Centre
            </p>
        </td>
        <td valign="top">
            <p>
                3141 7107
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Sheng Kung Hui Tung Chung Integrated Services
            </p>
        </td>
        <td valign="top">
            <p>
                2525 1929
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>New Territories North</strong>
</p>
<p>
    <strong>Tai Po and North District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Caritas Integrated Family Service Centre— Fanling
            </p>
        </td>
        <td valign="top">
            <p>
                2669 2316
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tai Po (South) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2657 8832
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tai Po (North) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2665 0286
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Sheung Shui Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2673 1525
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Fanling Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2675 1614
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>Yuen Long District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Yuen Long (East) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2944 0401
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Yuen Long (Central) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2470 2605
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tin Shui Wai Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2475 0525
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tin Shui Wai (North) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2446 1223
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Caritas Integrated Family Service Centre-Tin Shui Wai
            </p>
        </td>
        <td valign="top">
            <p>
                2474 7312
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Long Love Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2476 2766
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>Tuen Mun District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Tuen Mun (South) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2450 4386
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tuen Mun (East) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2451 8530
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tuen Mun (West) Integrated Family Service Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2467 4757
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Caritas Integrated Family Service Centre—Tuen Mun
            </p>
        </td>
        <td valign="top">
            <p>
                2466 8622
            </p>
        </td>
    </tr>
    </tbody>
</table>