<p>
    <strong>香港島</strong>
</p>
<p>
    <strong>中西區</strong>
</p>
<img src="images/home1_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>東區及灣仔區</strong>
</p>
<img src="images/home2_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>南區</strong>
</p>
<img src="images/home3_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>九龍東</strong>
</p>
<p>
    <strong>觀塘區</strong>
</p>
<img src="images/home4_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>黃大仙及西貢區</strong>
</p>
<img src="images/home5_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>九龍西</strong>
</p>
<p>
    <strong>九龍城及油尖旺區</strong>
</p>
<img src="images/home6_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>深水埗區</strong>
</p>
<img src="images/home7_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>新界南</strong>
</p>
<p>
    <strong>沙田區</strong>
</p>
<img src="images/home8_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>荃灣及葵青區</strong>
</p>
<img src="images/home9_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>大嶼山區</strong>
</p>
<img src="images/home10_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>新界北</strong>
</p>
<p>
    <strong>大埔及北區</strong>
</p>
<img src="images/home11_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>元朗區</strong>
</p>
<img src="images/home12_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>屯門區</strong>
</p>
<img src="images/home13_zh-tw.png" alt="phone list" style="max-width: 100%">