<p>
    <strong>I. 家庭</strong>
</p>
<p>
    如果你發現自己在婚姻、管敎子女、與他人相處方面出現問題，又或者一些突發的事件令你感到非常困擾，你可以致電以下熱線求助(24小時)：
</p>
<img src="images/hotline1_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>II. 自殺危機</strong>
</p>
<p>
    由義工為有自殺危機人士提供的情緒支援熱線服務：
</p>
<img src="images/hotline2_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>III. 青少年</strong>
</p>
<p>
    為遇上交友、學業、感情、家庭或工作等困難的青少年而設之熱線服務：
</p>
<img src="images/hotline3_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>IV. 男士熱線</strong>
</p>
<p>
    專為男士而設的輔導熱線，以協助受家庭、婚姻、工作或情緒困擾之男士：
</p>
<img src="images/hotline4_zh-tw.png" alt="phone list" style="max-width: 100%">