<p>
    <strong>Chapter 1: Hotlines and Crisis Services</strong>
</p>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>I. Family</strong>
</p>
<p>
    If you encounter problems in marriage, parenting or interpersonal
    communications, or if you are distressed by emergent incidents, you can
    dial the following 24-hour hotlines for assistance:
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Social Welfare Department (Family Services)
            </p>
            <p>
                Press [1] after your call has been put through, then press
                [0] to contact a social worker
            </p>
        </td>
        <td valign="top">
            <p>
                2343 2255
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Caritas Family Crisis Support Centre-
                <br/>
                24-hour Crisis Line
            </p>
        </td>
        <td valign="top">
            <p>
                18 288
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Social Services Hotline (A collection of hotlines: Hong
                Kong Council of Social Services)
            </p>
        </td>
        <td valign="top">
            <p>
                1878 668
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tung Wah CEASE Crisis Centre 24-hour Hotline
            </p>
        </td>
        <td valign="top">
            <p>
                18 281
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Family Welfare Society,
                <br/>
                Family Careline
            </p>
        </td>
        <td valign="top">
            <p>
                2342 3110
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tung Wah Cares Hotline
            </p>
        </td>
        <td valign="top">
            <p>
                2548 0010
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>II. Suicide Crisis</strong>
</p>
<p>
    Hotline services provided by volunteers which offer emotional support for
    people with suicidal risks:
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="middle">
            <p>
                Suicide Prevention Services
            </p>
        </td>
        <td valign="middle">
            <p>
                2382 0000
            </p>
        </td>
    </tr>
    <tr>
        <td valign="middle">
            <p>
                The Samaritan Befrienders Hong Kong
            </p>
        </td>
        <td valign="middle">
            <p>
                2389 2222
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>III. Youth</strong>
</p>
<p>
    Hotline services for youths with difficulties with friendship, academics,
    inter-personal relationships, family or work:
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Hok Yau Club Student Hotline
            </p>
        </td>
        <td valign="top">
            <p>
                2503 3399
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Federation of Youth Group-
            </p>
            <p>
                Youthline
            </p>
        </td>
        <td valign="top">
            <p>
                2777 8899
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Youth Women’s Christian Association—Counselling
                Hotline
            </p>
        </td>
        <td valign="top">
            <p>
                2711 6622
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Youth Outreach—
                <br/>
                All-night Outreaching Team (24-hour Hotline)
            </p>
        </td>
        <td valign="top">
            <p>
                9088 1023
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                The Boys’ and Girls’ Club Association of Hong Kong Parent
                Hotline
            </p>
        </td>
        <td valign="top">
            <p>
                2866 6388
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>IV. Men Helplines</strong>
</p>
<p>
    Counselling hotlines for men who are emotionally distressed by family,
    marriage, or work difficulties:
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Caritas Men Centre—Men Helpline
            </p>
        </td>
        <td valign="top">
            <p>
                2649 9158
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Po Leung Kuk- Family and Intimate Partner Relationship
                Hotline for Men (24-hour service)
            </p>
        </td>
        <td valign="top">
            <p>
                2890 1830
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Harmony House- Third Path Man Services
            </p>
        </td>
        <td valign="top">
            <p>
                2295 1386
            </p>
        </td>
    </tr>
    </tbody>
</table>