<p>
    <strong>I. 婦女及兒童服務</strong>
</p>
<p>
    <strong>社會福利署保護家庭及兒童服務課</strong>
</p>
<img src="images/other1_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>受虐婦女庇護中心</strong>
</p>
<img src="images/other2_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>II. 單親家庭</strong>
</p>
<p>
    <strong>港島</strong>
</p>
<img src="images/other3_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>九龍</strong>
</p>
<img src="images/other4_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>III. 長者服務</strong>
</p>
<img src="images/other5_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
        <strong>IV. </strong>
        <strong>鄰里支援幼兒照顧計劃</strong>
        <strong>(</strong>
        <strong>社區保姆服務</strong>
        <strong>)</strong>
</p>
<p>
    <strong>中西區</strong>
</p>
<img src="images/other6_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>南區</strong>
</p>
<img src="images/other7_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>離島</strong>
</p>
<img src="images/other8_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>東區及灣仔</strong>
</p>
<img src="images/other9_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>觀塘</strong>
</p>
<img src="images/other10_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>西貢</strong>
</p>
<img src="images/other11_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>黃大仙</strong>
</p>
<img src="images/other12_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>九龍城及油尖旺</strong>
</p>
<img src="images/other13_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>深水埗</strong>
</p>
<img src="images/other14_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>沙田</strong>
</p>
<img src="images/other15_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>大埔</strong>
</p>
<img src="images/other16_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>北區</strong>
</p>
<img src="images/other17_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>葵青</strong>
</p>
<img src="images/other18_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>荃灣</strong>
</p>
<img src="images/other19_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>屯門</strong>
</p>
<img src="images/other20_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>元朗</strong>
</p>
<img src="images/other21_zh-tw.png" alt="phone list" style="max-width: 100%">