<p>
    <strong>Chapter 7: Other Community Services</strong>
</p>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>I. Women and Children’s Services</strong>
</p>
<p>
    <strong>
        Social Welfare Department—The Family and Child Protective Services Unit
        (FCPSUs)
    </strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Family and Child Protective Services Unit
            </p>
            <p>
                (Eastern and Wan Chai)
            </p>
        </td>
        <td valign="top">
            <p>
                2231 5859
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Family and Child Protective Services Unit
            </p>
            <p>
                (Kwun Tong)
            </p>
        </td>
        <td valign="top">
            <p>
                2707 7681
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Family and Child Protective Services Unit
            </p>
            <p>
                (Wong Tai Sin and Sai Kung)
            </p>
        </td>
        <td valign="top">
            <p>
                3188 3563
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Family and Child Protective Services Unit
            </p>
            <p>
                (Sham Shui Po)
            </p>
        </td>
        <td valign="top">
            <p>
                2247 5373
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Family and Child Protective Services Unit
            </p>
            <p>
                (Tai Po and North)
            </p>
        </td>
        <td valign="top">
            <p>
                3183 9323
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Family and Child Protective Services Unit
            </p>
            <p>
                (Tuen Mun)
            </p>
        </td>
        <td valign="top">
            <p>
                2618 5710
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Family and Child Protective Services Unit
            </p>
            <p>
                (Tsuen Wan and Kwai Tsing)
            </p>
        </td>
        <td valign="top">
            <p>
                2940 7350
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Family and Child Protective Services Unit
            </p>
            <p>
                (Yuen Long)
            </p>
        </td>
        <td valign="top">
            <p>
                2445 4224
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Family and Child Protective Services Unit
            </p>
            <p>
                (Central Western, Southern and Islands)
            </p>
        </td>
        <td valign="top">
            <p>
                2835 2733
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Family and Child Protective Services Unit
            </p>
            <p>
                (Kowloon City and Yau Tsim Mong)
            </p>
        </td>
        <td valign="top">
            <p>
                3583 3254
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Family and Child Protective Services Unit
            </p>
            <p>
                (Shatin)
            </p>
        </td>
        <td valign="top">
            <p>
                2158 6680
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>Refuge Centers for Women Victims of Abuse</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Harmony House
            </p>
        </td>
        <td valign="top">
            <p>
                2522 0434
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                CFSC—Serene Court
            </p>
        </td>
        <td valign="top">
            <p>
                2787 6865
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Po Leung Kuk—Wai On Home for Women
            </p>
        </td>
        <td valign="top">
            <p>
                8100 1155
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>II. Single Parent Families</strong>
</p>
<p>
    <strong>Hong Kong Island </strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Caritas Mutual Aid Centre for Single Parent Families
            </p>
        </td>
        <td valign="top">
            <p>
                2887 0567
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>Kowloon</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Single Parents Association—Single Parent
                Occupational Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2776 4113
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>III. Elderly Services</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Christian Service- HKCS Bliss District Elderly
                Community Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2357 9963
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Senior Citizen Home Safety Association (SCHSA)- Elder Ring
                Hotline Service
            </p>
        </td>
        <td valign="top">
            <p>
                2338 8312
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Society for the Aged
            </p>
        </td>
        <td valign="top">
            <p>
                2511 2235
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Suicide Prevention Services—Live Life! Hotline for Elderly
            </p>
        </td>
        <td valign="top">
            <p>
                2382 0881
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Sheng Kung Hui Welfare Council
            </p>
        </td>
        <td valign="top">
            <p>
                25217
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>
        I. Neighbourhood Support Child Care Project (Home-based Child Carers
        Services)
    </strong>
</p>
<p>
    <strong>Central and Western District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                The Tsung Tsin Mission of Hong Kong Social Service Division
            </p>
        </td>
        <td valign="top">
            <p>
                9036 9017
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Southern District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Southern District Women’s Association
            </p>
        </td>
        <td valign="top">
            <p>
                2553 6773
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Outlying Islands</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Outlying Islands Women’s Association
            </p>
        </td>
        <td valign="top">
            <p>
                3141 7160 (Non-emergency)
            </p>
            <p>
                6256 3916 (Emergency)
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Eastern and Wan Chai District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Baptist Oi Kwan Social Service (Wan Chai)
            </p>
        </td>
        <td valign="top">
            <p>
                3413 1664
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Baptist Oi Kwan Social Service (Eastern)
            </p>
        </td>
        <td valign="top">
            <p>
                3188 8757
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Kwun Tong </strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Kwun Tong Resident Association
            </p>
        </td>
        <td valign="top">
            <p>
                2341 6090
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Sai Kung</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Family Welfare Society
            </p>
        </td>
        <td valign="top">
            <p>
                2177 1321
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Wong Tai Sin</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Chinese Evangelical Zion Church
            </p>
        </td>
        <td valign="top">
            <p>
                2324 0111
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Kowloon City and Yau Tsim Mong</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Tung Wah Group of Hospitals
            </p>
            <p>
                (Kowloon City)
            </p>
            <p>
                (Yau Tsim Mong)
            </p>
        </td>
        <td valign="top">
            <p>
                2714 3838
            </p>
            <p>
                2392 3256
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Sham Shui Po</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                The Tsung Tsin Mission of Hong Kong Social Service
            </p>
        </td>
        <td valign="top">
            <p>
                6575 2897
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Shatin</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Single Parents Association
            </p>
        </td>
        <td valign="top">
            <p>
                2994 9527
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Tai Po</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Women Development Association
            </p>
        </td>
        <td valign="top">
            <p>
                2623 2725
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>North District</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Po Leung Kuk
            </p>
        </td>
        <td valign="top">
            <p>
                3563 5161
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Kwai Tsing</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Women Service Association
            </p>
        </td>
        <td valign="top">
            <p>
                2489 9929
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Tsuen Wan</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Yan Chai Hospital Social Services Department
            </p>
        </td>
        <td valign="top">
            <p>
                2487 1222
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Tuen Mun</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Yan Oi Tong
            </p>
        </td>
        <td valign="top">
            <p>
                2466 0312
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Yuen Long</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Tin Shui Wai Women Association
            </p>
        </td>
        <td valign="top">
            <p>
                2447 7780
            </p>
        </td>
    </tr>
    </tbody>
</table>