<ol>
    <li>
        <strong></strong>
        <strong>Handbook on Support</strong>
    </li>
</ol>
<p>
    <strong>(1). Personnel Services and Staff Relations Branch, HKP</strong>
</p>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Personnel Services and Staff Relations Branch</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Island and Marine
                <br/>
                Welfare Services Office
            </p>
            <p>
                Phone no.: 2860 2447
            </p>
        </td>
        <td valign="top">
            <p>
                Kowloon Welfare Services Office
            </p>
            <p>
                Phone no.: 2150 7987
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                New Territories Welfare Services Office
            </p>
            <p>
                Phone no.: 2417 6482
            </p>
        </td>
        <td valign="top">
            <p>
                Financial Queries Hotline
            </p>
            <p>
                Phone no.: 2804 2803
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Personnel Services and
                <br/>
                Staff Relations Branch Hotline
            </p>
            <p>
                Phone no.: 2860 3200
            </p>
        </td>
        <td valign="top">
            <p>
                Urgent Psychological and Welfare Support 2860 2000 / 2860
                2400
            </p>
            <p>
                (Outside Office Hours)
                <br/>
                (Headquarters Radio)
            </p>
        </td>
    </tr>
    </tbody>
</table>