<style>
table {
    border-collapse: collapse;
    border: 1px solid black;
}
</style>
<p>
    <strong>I. 熱線電話服務</strong>
</p>
<img src="images/psychiatric1_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>II. 醫院管理局</strong>
</p>
<p>
    精神科服務需經由普通科醫生或臨床心理學家轉介。
    <br/>
    如遇緊急情況，可向各大政府醫院急症室求助。
</p>
<p>
    港島
</p>
<img src="images/psychiatric2_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    九龍
</p>
<img src="images/psychiatric3_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    新界
</p>
<img src="images/psychiatric4_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    離島
</p>
<img src="images/psychiatric5_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>III. 私人執業精神科醫生</strong>
</p>
<p>
    病人或家屬如希望聯絡私人執業的精神科醫生，可致電諮詢或瀏覽以下網址：
</p>
<table border="1">
    <tr>
        <td valign="top">
            <p>
                醫院管理局精神健康熱線
            </p>
        </td>
        <td valign="top">
            <p>
                2466 7350
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                浸會愛群社會服務精神健康諮詢熱線
            </p>
        </td>
        <td valign="top">
            <p>
                2535 4135
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                香港醫學會
            </p>
        </td>
        <td valign="top">
            <p>
                <a href="http://www.hkdoctors.org/chinese">
                    http://www.hkdoc
                </a>
                <a href="http://www.hkdoctors.org/chinese">
                    tors.org/chinese
                </a>
            </p>
        </td>
    </tr>

</table>