<p>
    <strong>Chapter 3: Psychiatric Services</strong>
</p>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>I. Hotline Services</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Hospital Authority—24-Hour Psychiatric Hotline
                <br/>
                Early Assessment Services for Young People with Psychosis
                (E.A.S.Y) Hotline
            </p>
        </td>
        <td valign="top">
            <p>
                2466 7350
            </p>
            <p>
                2928 3283
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                The Mental Health Association of Hong Kong 24 Hour
                Psychological Health Information Hotline
            </p>
        </td>
        <td valign="top">
            <p>
                2772 0047
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Baptist Oi Kwan Social Service Mental Health Consultation
                Hotline
            </p>
        </td>
        <td valign="top">
            <p>
                2535 4135
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Mood Disorders Centre Hotline
            </p>
        </td>
        <td valign="top">
            <p>
                2833 0838
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Richmond Fellowship of Hong Kong JUSTONE- Mental Health
                Support Service
            </p>
        </td>
        <td valign="top">
            <p>
                3512 2626
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Caritas Hotline
            </p>
        </td>
        <td valign="top">
            <p>
                3105 5337
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>II. Hospital Authority</strong>
</p>
<p>
    Psychiatric services require referrals from general practitioners or
    clinical psychologists. In case of emergency, please seek help from the
    Accident and Emergency Department of local public hospitals.
</p>
<p>
    <strong>Hong Kong Island</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Queen Mary Hospital
            </p>
        </td>
        <td valign="top">
            <p>
                2255 3067
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                David Trench Rehabilitation Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2517 8131
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Pamela Youde Nethersole Eastern Hospital
            </p>
        </td>
        <td valign="top">
            <p>
                2595 7609
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>Kowloon</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Kowloon Hospital
            </p>
        </td>
        <td valign="top">
            <p>
                3129 6708
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Caritas Medical Centre
            </p>
        </td>
        <td valign="top">
            <p>
                3408 7096/ 3408 5678
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                United Christian Hospital
            </p>
        </td>
        <td valign="top">
            <p>
                2949 4830
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Yau Ma Tei Child Psychiatric Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2384 9774
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                East Kowloon Psychiatric Centre
            </p>
        </td>
        <td valign="top">
            <p>
                3960 2100
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Yung Fung Shee Memorial Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2727 8260
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>New Territories</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                West Kowloon Psychiatric Centre (Kwai Chung)
            </p>
        </td>
        <td valign="top">
            <p>
                2959 8601
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Kwai Chung Child and Adolescent Psychiatric Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2959 8555
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Kwai Chung Psychogeriatric Out-Patient Department
            </p>
        </td>
        <td valign="top">
            <p>
                2742 7030
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tuen Mun Mental Health Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2456 8000
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Prince of Wales Hospital (Psychiatric Unit)
            </p>
        </td>
        <td valign="top">
            <p>
                3503 3415
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Alice Ho Miu Ling Nethersole Hospital (General Adult
                Psychiatry)
            </p>
        </td>
        <td valign="top">
            <p>
                2689 3070
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                North District Hospital (Psychiatric Services)
            </p>
        </td>
        <td valign="top">
            <p>
                2683 7653
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Tai Po Hospital (Child and Adolescent Mental Health Centre)
            </p>
        </td>
        <td valign="top">
            <p>
                2689 3262
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>Outlying Islands</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                North Lantau Hospital (Psychiatric Services)
            </p>
        </td>
        <td valign="top">
            <p>
                3467 7376
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>III. Psychiatrists in Private Practice</strong>
</p>
<p>
    Patients or relatives who wish to contact psychiatrists in private practice
    can call the hotlines or visit the website below:
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Hospital Authority—24-Hour Psychiatric Hotline
            </p>
        </td>
        <td valign="top">
            <p>
                2466 7350
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Baptist Oi Kwan Social Service Mental Health Consultation
                Hotline
            </p>
        </td>
        <td valign="top">
            <p>
                2535 4135
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Medical Association
            </p>
        </td>
        <td valign="top">
            <p>
                <a href="http://www.hkdoctors.org/chinese">
                    http://www.hkdoctors.org/chinese
                </a>
            </p>
        </td>
    </tr>
    </tbody>
</table>