<p>
    <strong>Chapter 2: Psychological Services</strong>
</p>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>
        I. Social Welfare Department/ Hospital Authority Clinical Psychological
        Services
    </strong>
</p>
<ul>
    <li>
        The Social Welfare Department provides clinical psychology services for
        Hong Kong citizens. If necessary, please call the family services
        centre in your district. A referral will then be arranged by social
        workers.
    </li>
    <li>
        Individuals may also receive clinical psychological services at the
        hospitals or clinics under Hospital Authority through doctors’
        referrals.
    </li>
</ul>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>II. Clinical Psychological Services (Private Practice)</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                The Hong Kong Psychological Society—Division of Clinical
                Psychology (for enquiry)
            </p>
        </td>
        <td valign="top">
            <p>
                6774 7752
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>
        III. Other Service Providers with Psychological Counselling Services
    </strong>
</p>
<p>
    <strong>General Services</strong>
</p>
<p>
    <strong>Hong Kong Island</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                The Hong Kong Catholic Marriage Advisory Council
                (Headquarters)
            </p>
        </td>
        <td valign="top">
            <p>
                2810 1104
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Baptist Oi Kwan Social Service-
            </p>
            <p>
                Counselling Services/ Clinical Psychological Services (HK
                Island)
            </p>
        </td>
        <td valign="top">
            <p>
                3413 1604
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Youth Outreach- Concorde Psychological Services
            </p>
        </td>
        <td valign="top">
            <p>
                2513 0213
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Human Empowerment and Achievement Training (HEAT) Caritas
                Hong Kong
            </p>
        </td>
        <td valign="top">
            <p>
                2525 6265
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Methodist Centre Psychological Counselling Services
            </p>
        </td>
        <td valign="top">
            <p>
                2520 4933
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Family Welfare Society-
                <br/>
                Clinical Psychological Services
            </p>
        </td>
        <td valign="top">
            <p>
                2893 0073
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>Kowloon</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Sheng Kung Hui Welfare Council—
            </p>
            <p>
                Clinical Psychology and Counselling Services
            </p>
        </td>
        <td valign="top">
            <p>
                2713 9174
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                The Hong Kong Council of the Church of Christ in
                China—Social Services
            </p>
        </td>
        <td valign="top">
            <p>
                2397 1495
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Young Women’s Christian Association—Family
                Wellness College
            </p>
        </td>
        <td valign="top">
            <p>
                3443 1601
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Satir Center for Human Development
            </p>
        </td>
        <td valign="top">
            <p>
                2336 3121
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Praying Hearts Counselling Centre
            </p>
        </td>
        <td valign="top">
            <p>
                2797 6888
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                CSFC—Clinical Psychology Services*
            </p>
        </td>
        <td valign="top">
            <p>
                2318 0398
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Yang Memorial Methodist Social Services-Clinical Psychology
                Services*
            </p>
        </td>
        <td valign="top">
            <p>
                2171 4001
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Christian Service—Clinical Psychology Service*
            </p>
        </td>
        <td valign="top">
            <p>
                2731 6227
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Children &amp; Youth Services- Clinical
                Psychology Services (Hung Hom District) *
            </p>
        </td>
        <td valign="top">
            <p>
                2761 1106
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Kwun Tong Methodist Social Services—Clinical Psychology
                Services (Ngau Tau Kok)
            </p>
        </td>
        <td valign="top">
            <p>
                2342 2244
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Human Empowerment and Achievement Training (HEAT) Caritas
                Hong Kong (Kowloon)
            </p>
        </td>
        <td valign="top">
            <p>
                2339 3739
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                The Mental Health Association of Hong Kong- Accelerated
                Experiential Dynamic Psychotherapy and Developmental
                Services Centre
            </p>
        </td>
        <td valign="top">
            <p>
                3583 1196
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong>New Territories</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Stewards—Counselling Services
            </p>
        </td>
        <td valign="top">
            <p>
                2325 0060
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                Hong Kong Family Welfare Society Clinical Psychological
                Service
            </p>
            <p>
                Kwai Chung (South) Integrated Family Service Center
            </p>
        </td>
        <td valign="top">
            <p>
                2426 9621
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>With Youths as Main Target Group</strong>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Breakthrough (With youths aged 11 to 30 as main target
                group)
            </p>
        </td>
        <td valign="top">
            <p>
                2377 8511
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>
                The Boys and Girls Clubs Association of Hong Kong
                Counselling &amp; Psychological Support Services
            </p>
            <p>
                (With children and youths aged 3-18 and their parents as
                main target group)
            </p>
        </td>
        <td valign="top">
            <p>
                2520 2950
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    Note: Some of the above organisations will charge based on personal income
</p>
<p>
    *Requires referral from district social workers
</p>