<p>
    <strong>I.社會福利署 / 醫院管理局臨床心理服務</strong>
</p>
<ul>
    <li>
        社會福利署為廣大市民提供臨床心理服務。如有需要，可致電各區家庭服務中心，再經由有關社工轉介。
    </li>
    <li>
        部份人仕亦可經醫生轉介，在醫院管理局轄下的醫院或診所接受臨床心理服務。
    </li>
</ul>
<br>
<p>
    <strong>II. 私人執業臨床心理服務</strong>
</p>
<img src="images/service1_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>III. 其他設有心理輔導服務機構</strong>
</p>
<p>
    一般服務
</p>
<p>
    港島
</p>
<img src="images/service2_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    九龍
</p>
<img src="images/service3_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    <strong>新界</strong>
</p>
<img src="images/service4_zh-tw.png" alt="phone list" style="max-width: 100%">
<br>
<p>
    <strong>以青少年為主要對象</strong>
</p>
<img src="images/service5_zh-tw.png" alt="phone list" style="max-width: 100%">
<p>
    註: 部份機構會按個人入息收取服務費。
    <br>
    *須由轄下地區單位社工轉介
</p>