<p>
    <strong>理論基礎及簡介</strong>
</p>
<ul>
    <li>
        包含了認知行爲治療和靜觀元素
    </li>
    <li>
        研究証實能有效減低多次抑鬱症患者的復發機會
    </li>
    <li>
        除了認知部分，提昇受輔者的覺察能力，更留意此時此刻的內在狀態（包括情緒、思想和身體感覺）和身邊的事物，以及自己因外界刺激所引發的慣性反應，從而可以擺脫不合適的反應，更能選擇最佳處理當下問題的方式
    </li>
</ul>
<p>
    <strong>具體治療方法</strong>
</p>
<ul>
    <li>
        一般以小組模式進行，一連八節
    </li>
    <li>
        也會因應個別受輔者情況而進行個別治療
    </li>
    <li>
        會透過認知行為練習和靜觀練習來達到以上的效果，例如：靜觀呼吸練習、伸展練習、身體掃描等等
    </li>
    <li>
        受輔者須積極在日常生活中應用及練習
    </li>
</ul>
<p>
    <strong>誰可以接受靜觀認知療法？</strong>
</p>
<ul>
    <li>
        主要用來治療抑鬱症、焦慮症和飲食失調等等
    </li>
    <li>
        對於一般人仕也有減壓作用
    </li>
</ul>
<br/>
<p>
    <strong>靜觀認知療法的好處</strong>
</p>
<ul>
    <li>
        減低抑鬱症的症狀和復發風險
    </li>
    <li>
        減壓
    </li>
    <li>
        改善情緒管理
    </li>
    <li>
        更容易活在當下，投入並享受生活
    </li>
</ul>
<p>
    <strong>常見的問與答</strong>
</p>
<p>
    靜觀療法是源自佛學理論，我本身有其他信仰，會否有抵觸？
</p>
<ul>
    <li>
        雖然靜觀是參考了佛學對於人的思想、情緒及行為模式的理論基礎，但其應用於心理學的範疇上，是沒有任何宗教成份的
    </li>
    <li>
        其實好些靜觀練習，例如靜坐，與許多其他宗教的傳統方式，例如天主教或基督教的靈修默想，也有不少相似的地方
    </li>
</ul>