<div>
    <style scoped="scoped">
   ul.florette-shaped-bullet { margin: 0; list-style: none; text-align: left }
   ul.florette-shaped-bullet li:before { content: "\2724\a0" }
</style>

    <style scoped="scoped">
   ul.arrowhead-shaped-bullet { margin: 0; list-style: none; text-align: left }
   ul.arrowhead-shaped-bullet li:before { content: "\27a2\a0" }
</style>
    <style scoped="scoped">
   ul.triangle-shaped-bullet { margin: 0; list-style: none; text-align: left }
   ul.triangle-shaped-bullet li:before { content: "\25b8\a0" }
</style>
</div>
<p>
    <strong>理論基礎及簡介</strong>
</p>
<ul class="florette-shaped-bullet">
    <li>
        一個人的思想會影響他的情緒、行為以及其他生理反應。每一個人對同一個想法也可能有不同的反應
    </li>
    <li>
        例如：<img src="images/example_zh-tw.png" alt="example" style="max-width: 100%">
    </li>
    <li>
        認知行為治療的主要目標為：
    </li>
</ul>
<ol>
    <li>
        把受輔者的極端負面思想轉化為較中立或正面的思想
    </li>
    <li>
        與受輔者一同探討解決問題的方法和鬆弛技巧
    </li>
</ol>
<br>
<p>
    <strong>具體治療方法</strong>
</p>

    <p>
        透過不同的技巧訓練、實驗活動和不斷在現實生活中應用新的技巧，將一個人的極端負面思想和行為轉變得更切乎現實和中立，
        他便能夠以更客觀的態度和有技巧地解決問題。
    </p>
<p>
    <strong>誰能接受認知行為治療？</strong>
</p>
<p>
    大量心理學研究引証，認知行為治療有效治療患有以下精神疾病的人：
    驚恐症、焦慮症、社交恐懼症、抑鬱症、強迫症、創傷後壓力症和暴食症以及被焦慮和壓力所困擾的人
</p>
<p>
    <strong>認知行為治療的好處</strong>
</p>
<ul>
    <li>
        有效治療各種精神疾病及防止復發
    </li>
    <li>
        為不能夠服用精神藥物的精神病患者和沒有藥物治療的精神病患者提供治療方法
    </li>
    <li>
        有效改善精神狀態，增強對壓力的免疫力和學習活出美好的生活
    </li>
</ul>
<p>
    <strong>暴露療法 －認知行爲治療的延伸</strong>
</p>
<ul>
    <li>
        簡介
    </li>
    <ul>
        <li>
            認知行爲治療的一種
        </li>
        <li>
            安全和有循證的治療方法
        </li>
        <li>
            可以幫助受輔者克服焦慮症和強迫症帶來的恐懼和焦慮
        </li>
        <li>
            治療的目標：協助輔助者面對和控制負面情緒
        </li>
    </ul>
</ul>
<ul>
    <li>
        具體治療方法
    </li>
</ul>
<ul>
    <ul>
        <li>
            治療方法：讓受輔者逐步直接面對他們所恐懼的事物，以達致「習慣化」(habituation)
            和「去敏感化」(de-sensitization)的效果，並在當中以教導他們重組自己的思想模式。治療師也會教導受輔者調整焦慮的情緒和運用鬆弛練習
        </li>
        <li>
            副作用：受輔者可能會在治療進行時感到不適。不過，受輔者不適的感覺會隨著時間和訓練而減低
        </li>
    </ul>
</ul>
<ul>
    <li>
        誰能接受暴露療法？
        <ul>
            <li>
                患有以下精神疾病的人：恐慌症，恐懼症，創傷後壓力症，强逼症和社交恐懼症
            </li>
        </ul>
    </li>
</ul>
<p>
    <strong>常見的問與答</strong>
</p>
<p>
    我怎樣才能在認知行為治療裏得到最好的效用？
</p>
<ol type="a">
    <li>
        首先，你可以從不同途徑（諮詢臨床心理學家或網上查閲）了解認知行為治療的資料， 並對治療有更深入的認識
    </li>
    <li>
        積極參與治療，學習其中技巧，開放地與臨床心理學家討論困難與疑問
    </li>
    <li>
        接受治療前複習上一節的內容
    </li>
    <li>
        把你在治療裏學到的技巧應用在日常生活當中 （例如：假如一件事情讓你感到情緒化， 嘗試辨認令你變得情緒化的思想）
    </li>
</ol>