<p>
    <strong>(2). Cognitive Behavioral Therapy (CBT)</strong>
</p>
<br/>
<p>
    <strong>Theoretical Background and Introduction</strong>
</p>
<ul>
    <li>
        A person’s thoughts can influence their emotions, behaviors and other
        biological reactions. People may react differently to the same thought.
    </li>
    <li>
        For example:<img src="images/example_en.png" alt="example" style="max-width: 100%">
    </li>
</ul>
<ul>
    <li>
        The major goals of Cognitive Behavioral Therapy are:
    </li>
</ul>
<ol>
    <li>
        To change a client’s extreme negative thoughts to more neutral or
        positive ones
    </li>
    <li>
        To explore problem-solving methods and relaxation techniques with the
        client
    </li>
</ol>
<br/>
<p>
    <strong>Specific Treatment Methods </strong>
</p>
<ul>
    <li>
        Through different skills trainings, experimental activities and
        repeated applications of new skills in daily lives, the individual can
        learn to think more objectively and realistically, and solve their
        issues more skilfully
    </li>
</ul>
<p>
    <strong>Who can Receive Cognitive Behavioral Therapy?</strong>
</p>
<ul>
    <li>
        An extensive body of psychological researches showed that Cognitive
        Behavioral Therapy is effective in treating individuals with different
        psychiatric disorders, including Panic Disorders, Anxiety Disorders,
        Social Anxiety Disorder, Major Depressive Disorder,
        Obsessive-Compulsive Disorder (OCD), Post-traumatic Stress Disorder
        (PTSD), Bulimia Nervosa, as well as anxiety and stress issues
    </li>
</ul>
<br/>
<p>
    <strong>Benefits of Cognitive Behavioral Therapy </strong>
</p>
<ul>
    <li>
        Effective in treating numerous mental illnesses and preventing relapses
    </li>
    <li>
        Provides a treatment approach for clients who cannot or do not receive
        medication to treat their mental illnesses
    </li>
    <li>
        Effective in improving the client’s mental state and enhancing
        resilience to stress so that the client can lead a better life
    </li>
</ul>
<p>
    <strong>Exposure Therapy—A Cognitive Behavioral Therapy Technique</strong>
</p>
<p>
    Introduction
</p>
<ul>
    <li>
        A type of cognitive behavioural therapy
    </li>
    <li>
        Safe and evidence-based
    </li>
    <li>
        Can help the client to overcome the fear and anxiety associated
        with anxiety disorders and obsessive-compulsive disorders
    </li>
    <li>
        Treatment goal: to assist the client in facing and regulating
        negative emotions
    </li>
</ul>
<p>
    <strong>Specific Treatment Methods</strong>
</p>
<ul>
    <ul>
        <li>
            Treatment: directly expose the client to the feared objects to
            achieve the effects of habituation and de-sensitization. Clients
            will be taught ways to adjust their thinking patterns, techniques
            for anxiety regulation as well as relaxation exercises
        </li>
        <li>
            Side-effects: the client may feel uncomfortable during the process
            of therapy, but the discomfort will be reduced with passage of time
            and practices
        </li>
    </ul>
</ul>
<ul>
    <li>
        Who can receive Exposure Therapy?
    </li>
</ul>
<ul>
    <li>
        Individuals with Panic Disorders, Phobic Disorders, Post-traumatic
        Stress Disorder, Obsessive-Compulsive Disorder and Social Anxiety
        Disorder
    </li>
</ul>
<p>
    <strong>Common Q&amp;As</strong>
</p>
<ul>
    <li>
        How can I make the best use of Cognitive Behavioral Therapy?
    </li>
</ul>
<ol>
    <li>
        First, you can learn more about CBT via various means (e.g. consult
        your clinical psychologist or surf the Internet)
    </li>
    <li>
        Actively participate in treatment and learn about the techniques.
        Discuss your difficulties and questions with the clinical psychologist
        openly
    </li>
    <li>
        Recall what you have learned from the previous session(s)
    </li>
    <li>
        Apply what you have learned from the therapy to your daily life (e.g.
        when an event is making you emotional, try to identify your thoughts
        which lead to your emotional response)
    </li>
</ol>