<p>
    <strong>(4). Mindfulness-Based Cognitive Therapy</strong>
</p>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Theoretical Background and Introduction</strong>
</p>
<ul>
    <li>
        Includes components of Cognitive Behavioral Therapy and mindfulness
    </li>
    <li>
        Supported by research to be effective in reducing relapses of
        depression
    </li>
    <li>
        Apart from the cognitive aspect, it enhances clients’ awareness of
        their internal states (including emotions, thoughts and somatic
        symptoms) and the surroundings, as well as their automatic reactions
        triggered by external stimuli. The clients can then learn to
        consciously choose the best way to handle their current issues
    </li>
</ul>
<p>
    <strong>Specific Treatment Methods</strong>
</p>
<ul>
    <li>
        Usually in group format with eight sessions
    </li>
    <li>
        The therapist would also conduct individual therapy based on client’s
        conditions
    </li>
    <li>
        Makes use of cognitive behavioural exercises and mindfulness exercises,
        such as mindful breathing, stretching, body scan etc.
    </li>
    <li>
        It requires the clients’ active application and practice in daily life
    </li>
</ul>
<p>
    <strong>
        Who can Receive Mindfulness-Based Cognitive Behavioral Therapy?
    </strong>
</p>
<ul>
    <li>
        Mainly for people with depression, anxiety and eating disorders etc.
    </li>
    <li>
        Can be used for stress reduction for general population
    </li>
</ul>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Benefits of Mindfulness-Based Cognitive Behavioral Therapy</strong>
</p>
<ul>
    <li>
        Reduces symptoms and relapses of depression
    </li>
    <li>
        Reduces stress
    </li>
    <li>
        Enhances mood management
    </li>
    <li>
        Teaches clients to live at the present moment, and lead an engaged and
        enjoyable life
    </li>
</ul>
<p>
    <strong>Common Q&amp;As</strong>
</p>
<ul>
    <li>
        Mindfulness-based therapies are originated from Buddhist teachings.
        Would there be contradictions if I have a different religious faith?
    </li>
</ul>
<ul>
    <li>
        Although mindfulness has taken reference to the theoretical basis of
        Buddhism on human thoughts, emotions and behavioural patterns, its
        application on the subject of psychology does not consist of any
        religious components.
    </li>
    <li>
        In fact, some mindfulness exercises such as mindful meditation share
        similarities with the traditions (e.g. devotional meditation) of many
        other religions
    </li>
</ul>