<div>
    <style scoped="scoped">
    ul.florette-shaped-bullet { margin: 0; list-style: none; text-align: left }
    ul.florette-shaped-bullet li:before { content: "\2724\a0" }
</style>
    <style scoped="scoped">
    ul.arrowhead-shaped-bullet { margin: 0; list-style: none; text-align: left }
    ul.arrowhead-shaped-bullet li:before { content: "\27a2\a0" }
</style>
    <style scoped="scoped">
    ul.triangle-shaped-bullet { margin: 0; list-style: none; text-align: left }
    ul.triangle-shaped-bullet li:before { content: "\25b8\a0" }
</style>
</div>
<!--p>
    <strong>心理健康資訊</strong>
</p>
<p>
    <strong>II. 輔導與心理治療</strong>
</p>
<p>
    <strong>(1). 心理輔導</strong>
</p-->
<p>
    <strong>何謂「輔導」？</strong>
</p>
<ul class="florette-shaped-bullet">
    <li>
        治療師 (例如：臨床心理學家或輔導員) 與受助者之間建立的合作關係
    </li>
    <li>
        主要以交談和對話形式作引導
    </li>
    <li>
        受助者可以在一個高度保密、被支持和非批判性的環境下講出自己的問題
    </li>
    <li>
        每一位受助者都有潛質去更深入了解自己和解決生活上的種種困難
    </li>
    <li>
        受助者和治療師需要共同合作， 找出受助者的思想和行為模式，從而改變或把它們使用為解決問題的工具
    </li>
    <li>
        在輔導的過程裏，輔導員會使用有根據和最適合受助者的方法
    </li>
    <li>
        心理輔導常見的目標：
        <ul class="arrowhead-shaped-bullet">
            <li>
                幫助受助者以多角度思考自己的問題
            </li>
            <li>
                帶領受助者尋找解決問題的方法，從而促進改變
            </li>
            <li>
                協助受助者過更快樂、健康和有意義的生活
            </li>
        </ul>
    </li>
</ul>
<!--ul class="arrowhead-shaped-bullet">
    <li>
        幫助受助者以多角度思考自己的問題
    </li>
    <li>
        帶領受助者尋找解決問題的方法，從而促進改變
    </li>
    <li>
        協助受助者過更快樂、健康和有意義的生活
    </li>
</ul-->
<p>
    <strong>何謂「心理治療」？</strong>
</p>
<ul class="florette-shaped-bullet">
    <li>
        在輔導關係的根基上，受過專業訓練的治療師會使用有科學根據和最適合受助者的治療方法，幫受助者作出心理治療
    </li>
    <li>
        常用的方法包括：認知行爲治療、暴露治療、眼動減敏與歷程更新療法、靜觀認知治療、表達藝術治療等
    </li>
</ul>
<p>
    <strong>誰能接受輔導和心理治療？</strong>
</p>
<ul class="florette-shaped-bullet">
    <li>
        任何希望更深入了解和認識自己的人士
    </li>
    <li>
        有情緒困擾的人士
    </li>
    <li>
        懷疑患有抑鬱症、焦慮症、創傷後壓力症等精神病症的人士
    </li>
</ul>
<p>
    <strong>輔導和心理治療有什麼好處？</strong>
</p>
<p>
    心理輔導能夠幫助受助者：
</p>
<ul class="florette-shaped-bullet">
    <li>
        以不同的角度看新的經驗
    </li>
    <li>
        增加決擇的自信
    </li>
    <li>
        增加對自己的認識
    </li>
    <li>
        學習新的方法來解決問題和管理壓力
    </li>
    <li>
        建立或改善健康的生活習慣， 令個人健康和人際關係得以進步
    </li>
</ul>
<p>
    <strong>常見的問與答</strong>
</p>
<ol>
    <li>
        既然我有朋友和家人與我傾談，為什麼我還要接受輔導和心理治療？
    </li>
    <ul class="florette-shaped-bullet">
        <li>
            治療師接受過專業訓練，會以一個保密和客觀的角度，去聆聽受助者談論自己的各種問題
        </li>
        <li>
            能夠使用有根據的方法來協助受助者
            <br/>
            <br/>
        </li>
    </ul>
    <li>
        假如一位臨床心理學家建議我接受輔導或心理治療， 這是否代表我一定有精神病？
    </li>
    <ul class="florette-shaped-bullet">
        <li>
            不一定， 不是患有精神病的人士才可以接受輔導和心理治療
        </li>
        <li>
            輔導和心理治療可以幫助受各種問題困擾的人 ( 例如：受壓、生命發生了 重大改變和面對疾病等)
            <br/>
            <br/>
        </li>
    </ul>
    <li>
        臨床心理學家和精神科醫生有什麼分別？
    </li>
    <ul class="florette-shaped-bullet">
        <li>
            精神科醫生具備基本醫科以及精神專科的訓練。而臨床心理學家並非醫生，他們具備心理學的學士學位以及臨床心理學的訓練。在香港，臨床心理學家必須持有認許的臨床心理學碩士學位
        </li>
        <li>
            精神科醫生熟悉精神疾患的生理基礎，專門治療患有精神及情緒疾患的病人，他們會用不同類型的治療方法，包括藥物治療。臨床心理學家不能處方藥物，他們會採用有研究基礎的心理學原則，以非藥物的方法治療精神及情緒問題
        </li>
        <li>
            有時對於某些精神或情緒病患者，雙管齊下的治療方式更為有效。在這些情況下，心理服務課的臨床心理學家在評估受輔者的需要後，會跟當事人商量，轉介至精神科治療
        </li>
    </ul>
</ol>