<div>
    <style scoped="scoped">
    ul.florette-shaped-bullet { margin: 0; list-style: none; text-align: left }
    ul.florette-shaped-bullet li:before { content: "\2724\a0" }
</style>
    <style scoped="scoped">
    ul.arrowhead-shaped-bullet { margin: 0; list-style: none; text-align: left }
    ul.arrowhead-shaped-bullet li:before { content: "\27a2\a0" }
</style>
</div>
<p>
	<strong>理論基礎及簡介</strong>
</p>
<ul class="florette-shaped-bullet">
	<li>
		表達藝術治療運用各種藝術媒體（例如：舞動、繪畫、雕塑和音樂）和創造的過程，並在一個包容的環境下鼓勵個人成長，康復和社交上的變化
	</li>
	<li>
		藝術是一個讓人抒發情緒、幻想和潛意識的渠道
	</li>
	<li>
		採用綜合的方式，把不同藝術媒體集合在一節治療裏使用
	</li>
</ul>
<br/>
<p>
	<strong>誰可以接受表達藝術治療?</strong>
</p>
<p>
	表達藝術治療可以幫助：
</p>
<ul class="florette-shaped-bullet">
	<li>
		情緒和行動上有問題和受各程度的壓力所影響的人
	</li>
	<li>
		以下精神疾病的患者：創傷後壓力症、抑鬱症、心臟的疾病和腦部功能障礙
	</li>
</ul>
<br/>
<p>
	<strong>表達藝術治療的好處</strong>
</p>
<ul class="florette-shaped-bullet">
	<li>
		普遍好處
	</li>
</ul>
<ol>
	<li>
		認出和感受自己的情緒
	</li>
	<li>
		探索潛意識的内容
	</li>
	<li>
		學習多角度思考和增强解難能力
	</li>
</ol>
<ul class="florette-shaped-bullet">
	<li>
		特有的好處
        <ul class="arrowhead-shaped-bullet">
            <li>
                讓受輔者在不用重溫受創傷的片段下談論和思考導致創傷的經驗
            </li>
            <li>
                創作藝術的時候讓人重拾一種可能性的身份，以及重新聯繋以前被靜止的自我
            </li>
            <li>
                當受輔者不能夠找到適當的詞語形容時，協助理解事件的意義
            </li>
            <li>
                支持正面的自我調節，包括減壓、增強抗逆力和建立個人鬆弛的方法
            </li>
            <li>
                減低長期病患的負擔
            </li>
        </ul>
	</li>
</ul>
<ul class="florette-shaped-bullet">
	<li>
		預防性的好處
	</li>
</ul>
<ol>
    <li>
        引出神馳的狀態，其特徵為加强的專注力和全面的吸收
    </li>
    <li>
        增强創意思考和解難能力
    </li>
    <li>
        促進腦部多巴胺分泌，使人感到開心及興奮，減低患有抑鬱症的機會
    </li>
    <li>
        完成作品後帶來的成功感可以增强自信心
    </li>
    <li>
        藝術可以培養同理心，耐性和愛的感覺
    </li>
    <li>
        舞動可以重組腦部，減低患有神經退行性疾病的機會
    </li>
</ol>
<br/>
<p>
	<strong>常見的問與答</strong>
</p>
<ol>
	<li>
		我不懂得如何畫畫/ 畫的畫不漂亮，我還可以嘗試接受表達藝術治療嗎?
        <ul type="disc">
            <li>
                當然可以！不需要有任何藝術方面的訓練都可以接受治療
            </li>
            <li>
                在表達藝術治療，你只是為自己創作藝術。沒有人會批評你的作品
                <br/>
                <br/>
            </li>
        </ul>
	</li>
	<li>
		我沒有藝術的天份，表達藝術治療會不會對我來説有點困難？
        <ul type="disc">
            <li>
                很多人都會在治療當中建立創意和發掘藝術上的潛質
                <br/>
                <br/>
            </li>
        </ul>
	</li>
	<li>
		我是一個成年人，表達藝術治療適合我嗎？
        <ul type="disc">
            <li>
                表達藝術治療適合各年齡和性別的人
                <br/>
                <br/>
            </li>
        </ul>
	</li>
	<li>
		表達藝術治療適合警察嗎？
        <ul type="disc">
            <li>
                世界各地的臨床心理學家都有使用表達藝術治療來幫助警察、軍隊和退伍軍人克服戰爭帶來的創傷，發掘藝術的潛能和促進個人的安康
            </li>
        </ul>
	</li>
</ol>
