<p>
	<strong>(5). Expressive Arts Therapy</strong>
</p>
<p>
	<strong>Theoretical Background and Introduction</strong>
</p>
<ul>
	<li>
		Expressive Arts Therapy makes use of different art modalities (e.g.
		movement, painting, sculpture and music) and creative processes in a
		supportive setting to foster personal growth, rehabilitative and social
		changes
	</li>
	<li>
		Art is a means for people to express their emotions, imagination and
		unconsciousness
	</li>
	<li>
		It adopts a multimodal approach, incorporating different modalities of
		art in a single therapy session
	</li>
</ul>
<p>
	<strong></strong>
	<br/>
</p>
<p>
	<strong>Who can Receive Expressive Arts Therapy?</strong>
</p>
<p>
	This approach can be used for helping:
</p>
<ul>
	<li>
		Individuals distressed by emotional and behavioural problems, as well
		as various levels of stress
	</li>
	<li>
		Individuals with Post-traumatic Stress Disorder, depression, heart
		ailments and brain dysfunctions etc.
	</li>
</ul>
<p>
	<strong></strong>
	<br/>
</p>
<p>
	<strong>Benefits of Expressive Arts Therapy</strong>
</p>
<ul>
	<li>
		General Benefits
	</li>
</ul>
<ol>
	<li>
		Help clients to identify and get in touch with their emotions
	</li>
	<li>
		Explore clients’ content of unconsciousness
	</li>
	<li>
		Enhances clients’ perspective-taking and problem-solving skills
	</li>
</ol>
<ul>
	<li>
		Specific Benefits
	</li>
</ul>
<ol>
	<li>
		Allows clients to discuss and process their trauma-related experiences
		without having to revisit the traumatic memories
	</li>
	<li>
		The process of art creation helps restore a sense of possibility
		identity and reconnects the parts of self that were silenced in the
		past for various reasons
	</li>
	<li>
		Helps clients to make sense of events when they fail to find words to
		express them
	</li>
	<li>
		Supports positive self-regulation, including stress reduction,
		resilience enhancement and development of self-soothing behaviors
	</li>
	<li>
		Eases the burden of chronic health conditions
	</li>
</ol>
<ul>
	<li>
		Preventive Benefits
	</li>
</ul>
<ol>
	<li>
		Induces a state of “flow”, characterized by clear focus and full
		absorption
	</li>
	<li>
		Enhances creative thinking and problem-solving skills
	</li>
	<li>
		Activates the “feel good” part of our brain and increases dopamine
		secretion which reduces the risk for depression
	</li>
	<li>
		Boosts self-esteem by providing a sense of accomplishment
	</li>
	<li>
		Art can cultivate empathy, patience and feelings of love
	</li>
	<li>
		Dance and movement were found to be effective in lowering the risks for
		neurodegenerative diseases by rewiring the brain
	</li>
</ol>
<p>
	<strong>Common Q&amp;As</strong>
</p>
<ol>
	<li>
		I don’t know how to draw/ am poor in drawing. Can I still try
		Expressive Arts Therapy?
	</li>
</ol>
<ul>
	<li>
		Of course! You don’t need to have any past experience or training in
		arts in order to receive the therapy
	</li>
	<li>
		In Expressive Arts Therapy, you are creating art only for yourself. No
		one will judge your artwork
	</li>
</ul>
<ol>
	<li>
		I am not artistic or creative. Will Expressive Arts Therapy be
		difficult for me?
	</li>
</ol>
<ul>
	<li>
		Many people develop their creativity and artistic potentials while
		experiencing Expressive Arts Therapy
	</li>
</ul>
<ol>
	<li>
		I am a grown adult. Is Expressive Arts Therapy really suitable for me?
	</li>
</ol>
<ul>
	<li>
		Expressive Arts Therapy is suitable for all people of all ages and all
		genders
	</li>
</ul>
<ol>
	<li>
		Is Expressive Arts Therapy suitable for policemen?
	</li>
</ol>
<ul>
	<li>
		Expressive Arts Therapy has been used around the world to help
		policemen, military personnel and veterans alike to overcome war
		traumas, unveil creative potentials, develop artistic talents and
		promote personal well-being
	</li>
</ul>