<p>
    <strong>治療方法的目標</strong>
</p>
<ol>
    <li>
        減低創傷後壓力症的症狀
    </li>
    <li>
        學習與創傷後壓力症的症狀共存
    </li>
    <li>
        學習處理創傷後壓力症帶來的其他問題，例如絕望和内疚的感覺
    </li>
</ol>
<br>
<p>
    <strong>創傷後壓力症的各種心理治療方法</strong>
</p>
<ol>
    <li>
        認知行爲治療 （參照上段 ）- 最普遍的治療方法
        <br/>
        <br/>
    </li>
    <li>
        長期間暴露治療（參照上段 ）
        <br/>
        <br/>
    </li>
    <li>
        眼動減敏與歷程更新療法 (Eye Movement Desensitization and Reprocessing , EMDR)
        <ol type="a">
            <li>
                創傷後壓力障礙都是因為創傷經驗（包括當時的影像、聲音、思想、情緒等）不能像其他日常經驗一般地被處理及儲存在記憶裡，而以最原本的整套形式儲存成創傷記憶
            </li>
            <li>
                這些未被處理的創傷記憶很容易被觸發，導致它們過度且反覆地重演，造成各種困擾
            </li>
            <li>
                EMDR 協助重啟處理這些創傷性的記憶，從而改善症狀
                <br/>
                <br/>
            </li>
        </ol>
    </li>
    <li>
        患有創傷後壓力症的受輔者如有較爲嚴重的症狀，需要藥物治療，臨床心理學家會因應受輔者的需要提供精神科的轉介
    </li>
</ol>
<p>
    <strong>常見的問與答</strong>
</p>
<ol>
    <li>
        眼動減敏與歷程更新療法可不可以用來治療任何一種精神疾病？
        <ul type="disc">
            <li>
                眼動減敏與歷程更新療法是以治療創傷後壓力症為目的而建立的治療方法
            </li>
            <li>
                這個治療方法有效於：創傷後壓力症、恐慌症和驚恐症
                <br/>
                <br/>
            </li>
        </ul>
    </li>
    <li>
        眼動減敏與歷程更新療法有沒有副作用？
        <ul type="disc">
            <li>
                當帶來創傷的回憶在治療的過程中浮現，受輔者可能會因而感到不適（例如：感到情緒化）
            </li>
            <li>
                受輔者可能會在治療節數之間繼續想著帶來創傷的回憶
            </li>
            <li>
                不過，受輔者會學習一些舒緩技巧，將不適的感覺減低
            </li>
        </ul>
    </li>
</ol>
