<p>
    <strong>
        (3). Psychotherapies for Post-traumatic Stress Disorder (PTSD)
    </strong>
</p>
<p>
    <strong>Treatment Goals</strong>
</p>
<ol>
    <li>
        To reduce symptoms of PTSD
    </li>
    <li>
        To help the client to live with PTSD symptoms
    </li>
    <li>
        To help the client cope with issues associated with PTSD, such as sense
        of hopelessness and guilt
    </li>
</ol>
<br/>
<p>
    <strong>Types of Psychotherapies for PTSD </strong>
</p>
<ol>
    <li>
        Cognitive Behavioral Therapy (please refer to the above)—the most
        common treatment approach
    </li>
    <li>
        Prolonged Exposure Therapy (please refer to the above)
    </li>
    <li>
        Eye Movement Desensitization and Reprocessing (EMDR)
        <ol type="a">
            <li>
                PTSD is developed since the traumatic experiences (including the
                associated images, sounds, thoughts, emotions etc.) cannot be processed
                and stored in the memory system like other ordinary experiences. They
                are stored in their original form as trauma memories
            </li>
            <li>
                These unprocessed traumatic memories can be triggered easily. Excessive
                reliving and re-experiencing of these memories can cause significant
                distress
            </li>
            <li>
                EMDR helps relieve symptoms by assisting the client in reprocessing the
                traumatic memories
            </li>
        </ol>
    </li>
    <li>
        Clients suffering from severe post-traumatic stress symptoms may need
        to be treated with medication. Clinical psychologists will provide
        psychiatric referrals based on clients’ needs.
    </li>
</ol>
<p>
    <strong>Common Q&amp;As</strong>
</p>
<ol>
    <li>
        Can EMDR be used to treat any kind of mental illness?
        <ul type="disc">
            <li>
                EMDR is developed with the aim to treat PTSD
            </li>
            <li>
                This therapeutic approach is effective in treating PTSD, Phobic
                Disorder and Panic Disorder
                <br/>
            </li>
        </ul>
    </li>
    <li>
        Are there any side-effects of EMDR?
        <ul type="disc">
            <li>
                The client may feel uncomfortable (e.g. feeling emotional) when
                traumatic memories emerge during the therapeutic process
            </li>
            <li>
                The client may be preoccupied with the traumatic memories between
                sessions
            </li>
            <li>
                The client will be taught some relaxation techniques to reduce the
                level of discomfort
            </li>
        </ul>
    </li>
</ol>
