<p>
    <strong>Information Kit on Psychological Health and Wellness</strong>
</p>
<p>
    <strong>
        V. When your Family Members or Friends are Suffering from Mental Health
        Problems… (ALGEE)
    </strong>
</p>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Introduction</strong>
</p>
<p>
    People suffering from mental health problems don’t have to face their
    difficulties alone. As their family, friends and colleagues, you can assist
    them along their recovery journey. In the “Five-Step Action Plan of Mental
    Health First Aid” in the <em>Mental Health First Aid Handbook</em>, there
    are guidelines on how to help people with mental health problems:
</p>
<!--<ol>-->
    <!--<li>-->
        <!--<strong>A</strong>-->
        <!--—<strong>A</strong>pproach, Assess and Assist with any crises-->
    <!--</li>-->
    <!--<li>-->
        <!--<strong>L</strong>-->
        <!--—<strong>L</strong>isten non-judgmentally-->
    <!--</li>-->
    <!--<li>-->
        <!--<strong>G</strong>-->
        <!--—<strong>G</strong>ive Support and Information-->
    <!--</li>-->
    <!--<li>-->
        <!--<strong>E</strong>-->
        <!--—<strong>E</strong>ncourage the person to get appropriate professional-->
        <!--help-->
    <!--</li>-->
    <!--<li>-->
        <!--<strong>E</strong>-->
        <!--—<strong>E</strong>ncourage other supports-->
    <!--</li>-->
<!--</ol>-->
<img src="images/algee.png" alt="algee" style="max-width: 100%">