<p>
    <strong>簡介</strong>
</p>
<p>
    受精神健康問題困擾的人不需要一個人面對。作為身邊的家人、朋友及同事，你能夠幫助他們踏上康復之路。《精神健康急救手冊》裏的《精神健康急救的五項重點工作》内附有指引，教你如何幫助受精神健康問題困擾的人：
</p>
<!--<ol>-->
    <!--<li>-->
        <!--A 接觸當事人、評估和協助處理危機 (Approach, Assess and Assist with any crises)-->
    <!--</li>-->
    <!--<li>-->
        <!--L 非批判性聆聽 (Listen non-judgmentally)-->
    <!--</li>-->
    <!--<li>-->
        <!--G 給予當事人支持及提供資料 (Give Support and Information)-->
    <!--</li>-->
    <!--<li>-->
        <!--E 鼓勵當事人尋求合適的專業援助 (Encourage the person to get appropriate professional-->
        <!--help)-->
    <!--</li>-->
    <!--<li>-->
        <!--E 鼓勵尋求其他支援 (Encourage other supports)-->
    <!--</li>-->
<!--</ol>-->
<img src="images/algee.png" alt="algee" style="max-width: 100%">