<p>
    <strong>(2) 名人面對精神健康危機的故事分享</strong>
</p>
<p>
    <strong>英國哈利王子</strong>
</p>
<ul>
    <li>
        戴安娜王妃逝世二十週年，哈里王子向大眾提及自己一度無法走出情緒困擾的經歷，又分享自己如何透過努力和尋求輔導協助之下最終走出陰霾，面對母親離世的事實。
    </li>
    <li>
        <a href="http://hk.apple.nextmedia.com/news/art/20170424/19999400">
            「喪母加外界誤解　哈里抑鬱收埋自己近廿年」
        </a>
    </li>
</ul>
<p>
    <strong>名人談自己的精神疾病</strong>
</p>
<ul>
    <li>
        <a href="http://womany.net/read/article/8623">
            「現代人都想修的一堂情緒課：珍妮佛、貝克漢談如何面對恐懼與焦慮」
        </a>
    </li>
</ul>
<p>
    <strong>鄭秀文分享自己的抑鬱症經歷</strong>
</p>
<ul>
    <li>
        <a href="https://www.youtube.com/watch?v=ESknjJD9RCQ&amp;app=desktop">
            https://www.youtube.com/watch?v=ESknjJD9RCQ&amp;app=desktop
        </a>
    </li>
</ul>
<p>
    <strong>張繼聰回憶７年前和謝安琪同抑鬱</strong>
</p>
<ul>
    <li>
        <a href="https://www.hk01.com/娛樂/130847/張繼聰回憶７年前和謝安琪同抑鬱-當時食行藥好口乾好頭暈好攰">
            https://www.hk01.com/娛樂/130847/張繼聰回憶７年前和謝安琪同抑鬱-當時食行藥好口乾好頭暈好攰
        </a>
    </li>
</ul>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>薛凱琪分享自己曾患抑鬱症</strong>
</p>
<ul>
    <li>
        <a href="https://www.youtube.com/watch?v=QMugX9AlpDM">
            https://www.youtube.com/watch?v=QMugX9AlpDM
        </a>
    </li>
</ul>
<p>
    <strong>曾智華：拒絕驚恐 繼續風騷 (p.12)</strong>
</p>
<ul>
    <li>
        <a href="https://www.jmhf.org/upload_files/journal/130/129.pdf">
            https://www.jmhf.org/upload_files/journal/<br>130/129.pdf
        </a>
    </li>
</ul>
<p>
    <strong>張堅庭分享焦慮症</strong>
</p>
<ul>
    <li>
        <a href="https://www.youtube.com/watch?v=zCa_80YboQ4">
            https://www.youtube.com/watch?v=zCa_80YboQ4
        </a>
    </li>
</ul>
<p>
    <strong>心無罣礙 無罣礙故 無有焦慮症 林夕</strong>
</p>
<ul>
    <li>
            <a href="http://mlinxil.blogspot.hk/2006/12/blog-post_116620214586166298.html">
                http://mlinxil.blogspot.hk/2006/12/blog-post_116620214586166298.html
            </a>
    </li>
</ul>
<p>
    <strong>陳淑蘭因父親去世抑壓情緒而患上情緒病</strong>
</p>
<ul>
    <li>
        <a href="https://www.youtube.com/watch?v=kXWe_dALwpM">
            https://www.youtube.com/watch?v=kXWe_dALwpM
        </a>
    </li>
</ul>
<p>
    <strong>陳奐仁曾患抑鬱症崩潰爆喊</strong>
</p>
<ul>
    <li>
        <a href="https://topick.hket.com/article/2084411/陳奐仁曾患抑鬱症崩潰爆喊%E3%80%80靠運動音樂走出陰霾找回自己%E3%80%80">
            https://topick.hket.com/article/2084411/陳奐仁曾患抑鬱症崩潰爆喊%E3%80%80靠運動音樂走出陰霾找回自己%E3%80%80
        </a>
    </li>
</ul>
<p>
    <strong>江美儀走出情緒病困擾：名利不及活得快樂重要</strong>
</p>
<ul>
    <li>
        <a href="https://topick.hket.com/article/1993015/江美儀走出情緒病困擾：名利不及活得快樂重要%20【有片】?mtc=10016">
            https://topick.hket.com/article/1993015/江美儀走出情緒病困擾：名利不及活得快樂重要%20【有片】?mtc=10016
        </a>
    </li>
</ul>
<p>
    <strong>歡笑背後曾抑鬱3年　森美重拾快樂秘訣：日記寫下開心事</strong>
</p>
<ul>
    <li>
        <a href="https://topick.hket.com/article/1768292/歡笑背後曾抑鬱3年%E3%80%80森美重拾快樂秘訣：日記寫下開心事">
            https://topick.hket.com/article/1768292/歡笑背後曾抑鬱3年%E3%80%80森美重拾快樂秘訣：日記寫下開心事
        </a>
    </li>
</ul>