<p>
    <strong>(2) Sharing from Celebrities</strong>
</p>
<br>
<p>
    <strong>Prince Harry of the United Kingdom </strong>
    (available in Chinese only)
</p>
<ul>
    <li>
        It was the 20<sup>th</sup> anniversary of the death of Diana, Princess
        of Wales. Her son Prince Harry shared with his past experience of
        emotional struggles with the public. He also shared how he eventually
        walked out of the blue to face the difficult reality through his
        persistence and the help of counselling.
    </li>
    <li>
        <a href="http://hk.apple.nextmedia.com/news/art/20170424/19999400">
            「喪母加外界誤解　哈里抑鬱收埋自己近廿年」
        </a>
    </li>
</ul>
<p>
    <strong>Five celebrities talked about their mental disorders </strong>
    (available in Chinese only)
</p>
<ul>
    <li>
        <a href="http://womany.net/read/article/8623">
            「現代人都想修的一堂情緒課：珍妮佛、貝克漢談如何面對恐懼與焦慮」
        </a>
    </li>
</ul>
<p>
    <strong>Sammi Cheng shared her experience with depression </strong>
    (available in Chinese only)
</p>
<ul>
    <li>
        <a href="https://www.youtube.com/watch?v=ESknjJD9RCQ&app=desktop">
            https://www.youtube.com/watch?v=ESknjJD9RCQ&amp;app=desktop
        </a>
    </li>
</ul>
<p>
    <strong>
        Louis Cheung recalled Kay Tse’s and his experience with depression 7
        years ago
    </strong>
    (available in Chinese only)
</p>
<ul>
    <li>
        <a href="https://www.hk01.com/娛樂/130847/張繼聰回憶７年前和謝安琪同抑鬱-當時食行藥好口乾好頭暈好攰">
            https://www.hk01.com/娛樂/130847/張繼聰回憶７年前和謝安琪同抑鬱-當時食行藥好口乾好頭暈好攰
        </a>
    </li>
</ul>
<br>
<p>
    <strong>Fiona Sit shared that she once suffered from depression </strong>
    (available in Chinese only)
</p>
<ul>
    <li>
        <a href="https://www.youtube.com/watch?v=QMugX9AlpDM">
            https://www.youtube.com/watch?v=QMugX9AlpDM
        </a>
    </li>
</ul>
<p>
    <strong>
        Luke Chee-wah Tsang shared his experience with panic disorder
    </strong>
    (available in Chinese only)
</p>
<ul>
    <li>
        <a href="https://www.jmhf.org/upload_files/journal/130/129.pdf">
            https://www.jmhf.org/upload_files/journal/130/129.pdf
        </a>
    </li>
</ul>
<p>
    <strong>Alfred Cheung shared his experience with anxiety disorder </strong>
    (available in Chinese only)
</p>
<ul>
    <li>
        <a href="https://www.youtube.com/watch?v=zCa_80YboQ4">
            https://www.youtube.com/watch?v=zCa_80YboQ4
        </a>
    </li>
</ul>
<br>
<p>
    <strong>Albert Leung shared his experience with anxiety disorder </strong>
    (available in Chinese only)
</p>
<ul>
    <li>
        <a href="http://mlinxil.blogspot.hk/2006/12/blog-post_116620214586166298.html">
            http://mlinxil.blogspot.hk/2006/12/blog-post_116620214586166298.html
        </a>
    </li>
</ul>
<br>
<p>
    <strong>
        Sheila Chan shared her experience with mood disorder after her father’s
        death
    </strong>
    (available in Chinese only)
</p>
<ul>
    <li>
        <a href="https://www.youtube.com/watch?v=kXWe_dALwpM">
            https://www.youtube.com/watch?v=kXWe_dALwpM
        </a>
    </li>
</ul>
