<ol>
    <li>
        <strong>各地反標籤資訊</strong>
        <strong>(1) 各地對抗精神健康問題的政策</strong>
    </li>
</ol>
<p>
    <br>
    <strong>世界衛生組織</strong>
</p>
<ul>
    <li>
        <a href="http://www.who.int/mental_health/world-mental-health-day/2015_infosheet/zh/">
            「2015年世界精神衛生日：尊嚴與精神衛生」
        </a>
    </li>
    <li>
        <a href="http://www.who.int/mental_health/management/depression/zh/">
            「抑鬱症」（專頁）
        </a>
    </li>
    <li>
        <a href="http://www.who.int/mental_health/suicide-prevention/zh/">
            「預防自殺」（專頁）
        </a>
    </li>
    <li>

        <a href="http://www.who.int/mental_health/publications/guide_field_workers/zh/">
            「現場工作者心理急救指南」（出版物，可下載）
        </a>
    </li>
</ul>
<p>
    <br/>
    <strong>世界健康日</strong>
</p>
<ul>
    <li>
        <a href="https://www.hk01.com/國際/82828/世界健康日關注精神健康-一起來聊聊抑鬱症-不再避而不談">
            「世界健康日關注精神健康『一起來聊聊抑鬱症』不再避而不談」
        </a>
    </li>
</ul>
<p>
    <strong>Heads Together</strong>
</p>
<ul>
    <li>
        <a href="https://www.headstogether.org.uk">
            由英國威廉王子夫婦及哈利王子發起的「Heads
            Together」慈善組織，與其他7個慈善團體聯手，目標是改變全國對討論精神健康問題的忌諱、喚起大眾對心理健康的關注
        </a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=45RqUmxDXiY">
            英國威廉王子夫婦及哈利王子的分享
        </a>
    </li>
</ul>
<p>
    <strong>UK : MIND for better mental health</strong>
</p>
<ul>
    <li>
        一站式資訊及支援網站，專為任何有精神健康困擾的人提供支援和意見
    </li>
    <li>
        推動改善社區上精神健康服務、提昇大眾對精神健康及標籤問題的覺察、增加了解
    </li>
    <li>
        網址：
        <a href="https://www.mind.org.uk">
            https://www.mind.org.uk
        </a>
    </li>
</ul>
<p>
    <strong>好心情@HK</strong>
</p>
<ul>
    <li>
        由衞生署於2016年1月推行為期三年的全港性心理健康推廣計劃，旨在提高公眾對心理健康推廣的參與，及公眾對精神健康的知識和了解
    </li>
    <li>
        提倡「與人分享」、「正面思維」及「享受生活」三個元素
    </li>
    <li>
        網址：
        <a href="https://www.joyfulathk.hk/tc/index.asp">
            https://www.joyfulathk.hk/tc/index.asp
        </a>
    </li>
</ul>
<br>
<p>
    <strong>Mind HK</strong>
</p>
<ul>
    <li>
        本地專為任何有精神健康困擾的人提供支援和意見的網站
    </li>
    <li>
        「顧眷患者基金會」跟 Mind UK合作的項目，把 Mind UK的精神和模式引入香港，致力減低標籤及提升大眾對精神健康問題的覺察
    </li>
    <li>
        網址：
        <a href="http://www.mind.org.hk/">
            http://www.mind.org.hk/
        </a>
    </li>
</ul>
<p>
    <strong>心晴行動慈善基金</strong>
</p>
<ul>
    <li>
        「心晴行動慈善基金」為一註冊非牟利慈善團體，致力推廣情緒病的知識，減少誤解及歧視，令患者及其家屬得到更多諮詢渠道、資源和幫助
    </li>
    <li>
        網址：
        <a href="https://www.jmhf.org/jmhf-web/">
            https://www.jmhf.org/jmhf-web/
        </a>
    </li>
</ul>
<br>
<p>
    <strong>多元文化及全人健康研究室</strong>
</p>
<ul>
    <li>
        由香港中文大學心理學系麥穎思教授創立，研究範疇包括污名化現象、復元以及靜觀
    </li>
    <li>
        近年致力以大眾化的模式推廣心理健康，亦積極參與倡導工作和平權運動
    </li>
    <li>
        網址：
        <a href="http://maklabdiversity.wixsite.com/maklab">
            http://maklabdiversity.wixsite.com/maklab
        </a>
    </li>
    <li>
        臉書網址：
        <a href="https://www.facebook.com/dwlab.hk/">
            https://www.facebook.com/dwlab.hk/
        </a>
    </li>
</ul>
<p>
    <strong>說書人</strong>
</p>
<ul>
    <li>
        由一群致力在社區推廣精神健康的人（包括精神病康復者和心理學者）建立的臉書專頁
    </li>
    <li>
        當中有患病者故事的分享，期盼藉故事消除歧視、標籤和誤解
    </li>
    <li>
        臉書網址：
        <a href="https://m.facebook.com/storytaler.hk/">
            https://m.facebook.com/storytaler.hk/
        </a>
    </li>
</ul>