<ol>
    <li>
        <strong></strong>
        <strong>De-stigmatization Around the World</strong>
    </li>
</ol>
<ol>
    <li>
        <strong></strong>
        <strong>Campaigns and Policies</strong>
    </li>
</ol>
<p>
    <strong>World Health Organization</strong>
</p>
<ul>
    <li>
        World Mental Health Day 2015: Dignity and Mental Health”
        <a
                href="http://www.who.int/mental_health/world-mental-health-day/2015_infosheet/en/"
        >
            http://www.who.int/mental_health/world-mental-health-day/2015_infosheet/en/
        </a>
    </li>
</ul>
<ul>
    <li>
        “Depression” (info page）
    </li>
</ul>
<p>
    Website:
    <a href="http://www.who.int/mental_health/management/depression/en/">
        http://www.who.int/mental_health/management/depression/en/
    </a>
</p>
<ul>
    <li>
        “Suicide Prevention” (info page)
    </li>
</ul>
<p>
    Website:
    <a href="http://www.who.int/mental_health/suicide-prevention/en/">
        http://www.who.int/mental_health/suicide-prevention/en/
    </a>
</p>
<ul>
    <li>
        “Psychological First Aid: Guide for Field Workers” (downloadable
        publication）
        <br/>
        Website：
        <a
                href="http://www.who.int/mental_health/publications/guide_field_workers/en/"
        >
            http://www.who.int/mental_health/publications/guide_field_workers/en/
        </a>
    </li>
</ul>
<p>
    <br/>
    <strong>World Health Day</strong>
</p>
<ul>
    <li>
        World Health Day Raises Awareness of Mental Health: “Let’s Talk About
        Depression” (available in Chinese only)
    </li>
</ul>
<p>
    Website：<a href="https://www.hk01.com/國際/82828/世界健康日關注精神健康-一起來聊聊抑鬱症-不再避而不談">
    https://www.hk01.com/國際/82828/世界健康日關注精神健康-一起來聊聊抑鬱症-不再避而不談
</a>
    <br/>
</p>
<p>
    <strong>Heads Together</strong>
</p>
<ul>
    <li>
        Heads Together is a mental health charity founded by The Duke and
        Duchess of Cambridge and Prince Harry. In collaboration with 7 other
        charity organizations, it aims to change the taboo about national
        discussions about mental health issues and raises public awareness of
        mental health.
    </li>
    <li>
        Website：
        <a href="https://www.headstogether.org.uk">
            https://www.headstogether.org.uk
        </a>
    </li>
    <li>
        Sharing by The Duke and Duchess of Cambridge and Prince Harry：
        <a href="https://www.youtube.com/watch?v=45RqUmxDXiY">
            https://www.youtube.com/watch?v=45RqUmxDXiY
        </a>
    </li>
</ul>
<p>
    <strong>UK: MIND for better mental health</strong>
</p>
<ul>
    <li>
        An informational and self-help website providing support and opinions
        for anyone facing mental health challenges
    </li>
    <li>
        It aims to promote mental health services in the community, raise
        public awareness of mental health and stigma issues and increase
        understanding.
    </li>
    <li>
        Website：<a href="https://www.mind.org.uk">
            https://www.mind.org.uk
        </a>
    </li>
</ul>
<p>
    <strong>Joyful@HK</strong>
</p>
<ul>
    <li>
        A local three-year mental health promotion campaign implemented by
        Department of Health in January 2016. It aims to increase public
        participation in mental health promotion and enhance public
        understanding of mental health.
    </li>
    <li>
        Advocates three elements: “Sharing”, “Mind” and “Enjoyment”
    </li>
    <li>
        Website： <a href="https://www.joyfulathk.hk/en/index.asp">
        https://www.joyfulathk.hk/en/index.asp
    </a>
    </li>
</ul>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Mind HK</strong>
</p>
<ul>
    <li>
        A local website which provides support and opinions for anyone facing
        mental health challenges
    </li>
    <li>
        An initiative collaborated by the Patient Care Foundation and Mind UK
        which introduces the spirit and model of Mind UK to Hong Kong. It
        strives to reduce stigmatization and raises public awareness of mental
        health issues.
    </li>
    <li>
        Website：<a href="http://www.mind.org.hk/">
        http://www.mind.org.hk/
    </a>
    </li>
</ul>
<p>
    <strong>Joyful (Mental Health) Foundation</strong>
</p>
<ul>
    <li>
        Joyful (Mental Health) Foundation is a non-profit making charitable
        organization. It is committed to promoting knowledge about mood
        disorders, reducing misunderstandings and discriminations, and
        providing more resources, support and channels for enquiry for mentally
        challenged individuals and their families.
    </li>
    <li>
        Website：
        <a href="https://www.jmhf.org/jmhf-web/">
            https://www.jmhf.org/jmhf-web/
        </a>
    </li>
</ul>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    <strong>Diversity and Well-being Lab</strong>
</p>
<ul>
    <li>
        Founded by Professor Winnie Wing-see Mak of the Chinese University of
        Hong Kong, its research interests include stigmatization, recovery and
        mindfulness.
    </li>
    <li>
        In the recent years, it is committed to promoting psychological
        well-being to the general public and participating in advocacy work and
        human rights movements.
    </li>
    <li>
        Website：
        <a href="http://maklabdiversity.wixsite.com/maklab">
            http://maklabdiversity.wixsite.com/maklab
        </a>
    </li>
    <li>
        Facebook page：
        <a href="https://www.facebook.com/dwlab.hk/">
            https://www.facebook.com/dwlab.hk/
        </a>
    </li>
</ul>
<p>
    <strong>Storytaler </strong>
    (available in Chinese only)
</p>
<ul>
    <li>
        A Facebook page set up by a group of people who are committed to
        promoting mental health in the community (including people in recovery
        and psychologists)
    </li>
    <li>
        It aims to reduce discrimination, stigma and misunderstandings through
        story-telling by people in recovery.
    </li>
    <li>
        Facebook page：
        <a href="https://m.facebook.com/storytaler.hk/">
            https://m.facebook.com/storytaler.hk/
        </a>
    </li>
</ul>