<p>
    <strong>Resources on Help-seeking</strong>
</p>
<ol>
    <li>
        <strong>Psychological Services Group, HKP</strong>
    </li>
</ol>
<br>
<p>
    <strong>Introduction—Psychological Services Group, HKP</strong>
</p>
<ul>
    <li>
        Under the Personnel Services &amp; Staff Relations Branch
    </li>
    <li>
        Provides professional counselling and psychological services for Force
        members
    </li>
    <li>
        Promotes the knowledge about mental health in the Force
        <br/>
    </li>
</ul>
<p>
    <strong>Clinical Psychological Services</strong>
</p>
<ul>
    <li>
        Provides professional psychological assessment, counselling or
        psychotherapy for Force members
    </li>
    <li>
        Free of charge
    </li>
    <li>
        Aims of services：
        <ul>
            <li>
                Enhance Force members’ resilience to adversities
            </li>
            <li>
                Assist Force members to overcome their psychological barriers
            </li>
            <li>
                Assist Force members to handle their problems in life
            </li>
            <li>
                Enhance Force members’ psychological wellness
            </li>
        </ul>
    </li>
    <li>
        Service targets:
        <ul>
            <li>
                All disciplinary and civilian members of the Force
            </li>
            <li>
                Services will be extended to family members under special circumstances
                (e.g. serious injury or death of a Force member)
            </li>
        </ul>
    </li>
</ul>
<br>
<p>
    <strong>Scope of Clinical Psychological Services</strong>
</p>
<br>
<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <p>
                Psychological assessment
            </p>
            <p>
                Family or marital counselling
            </p>
            <p>
                Sleep management
            </p>
            <p>
                Grief/ bereavement counselling
            </p>
            <p>
                Psychological treatment for mood problems (e.g. depression,
                anxiety)
            </p>
        </td>
        <td valign="top">
            <p>
                Work stress management
            </p>
            <p>
                Interpersonal relationship management
            </p>
            <p>
                Pain management
            </p>
            <p>
                Management of addiction problems (e.g. gambling, alcohol
                abuse)
            </p>
            <p>
                Management of psychological disorders
            </p>
        </td>
        <td valign="top">
            <p>
                Psychological support for critical incident stress
            </p>
            <p>
                Emotion regulation for health-related problems
            </p>
            <p>
                Counselling on adjustment difficulties
            </p>
            <p>
                Treatment for post-traumatic stress
            </p>
            <p>
                Personal growth
            </p>
        </td>
    </tr>
    </tbody>
</table>
<br>
<p>
    <strong>Waiting Time</strong>
</p>
<ul>
    <li>
        First appointment for new referrals will be scheduled within 10 working
        days
    </li>
    <li>
        Special arrangement and flexible handling of emergent cases
    </li>
</ul>
<br>
<p>
    <strong>Appointment Arrangement: Personal Time or Working Time?</strong>
</p>
<ul>
    <li>
        Force members can choose to use personal or working time for
        appointments with Police Clinical Psychologists.
    </li>
    <li>
        Civil Service Regulations CSR 904 stipulates that “officers will be
        allowed time off from duty for attendance at clinics for approved
        treatment, examination or consultation”. It is decided that the scope
        of application of CSR 904 should be extended to cover counselling
        sessions provided by clinical psychologists of the respective
        departments. Civil servants attending these clinical psychologist
        counselling sessions may also apply for time-off under CSR 904 with
        effect from 1 July 2017.
    </li>
</ul>
<p>
    <strong>Confidentiality is Ensured</strong>
</p>
<ul>
    <li>
        Unless in the exceptional cases with personal safety concerns or
        situations warranted by prevailing laws, no one (including Formation
        Commanders) can have access to a client’s personal and psychological
        information without his/her consent
    </li>
</ul>
<p>
    <strong>Contact Us</strong>
</p>
<p>
    Psychological Services Group, HKP
</p>
<p>
    Phone number: 2866 6206
</p>
<p>
    Address: Unit 18, 1/F, Victoria Center, 15 Watson Road, North Point, Hong
    Kong
</p>
<p>
    Fax: 2866 6052
</p>
<p>
    Email:
    <a href="mailto:sclinpsy-pps-psg@police.gov.hk">
        sclinpsy-pps-psg@police.gov.hk
    </a>
</p>