<p>
<strong>簡介- 警察心理服務課</strong>
</p>
<ul>
    <li>
        人事部人事服務及職員關係科轄下的組別
    </li>
    <li>
        為警務人員提供專業輔導及心理服務
    </li>
    <li>
        在警隊内普及有關精神健康的知識
    </li>
</ul>
<p>
<strong>臨床心理服務</strong>
</p>
<ul>
    <li>
        為警隊同事們提供專業的心理評估、輔導或心理治療
    </li>
    <li>
        費用全免
    </li>
    <li>
        服務目的：
        <ul>
            <li>
                提升同事們應付逆境的能力
            </li>
            <li>
                突破心理障礙
            </li>
            <li>
                積極處理生活上各種問題
            </li>
            <li>
                提昇警務人員的心理素質
            </li>
        </ul>
</ul>
<ul>
    <li>
        服務對象：
        <ul>
            <li>
                所有在職的紀律及文職人員
            </li>
            <li>
                在特別情況下，心理服務課亦會額外提供服務予家屬 （例如: 在職同事身故或嚴重受傷）
            </li>
        </ul>
    </li>
</ul>
<br>
<p>
<strong>臨床心理服務範圍</strong>
</p>
<br>
<table cellspacing="0" cellpadding="0" border="1">
    <tbody>
        <tr align="center">
            <td>心理評估</td>
            <td>工作壓力處理</td>
            <td>危急事件壓力心理支援</td>
        </tr>
        
        <tr align="center">
            <td>家庭或婚姻輔導</td>
            <td>人際關係處理</td>
            <td>與健康問題有關的情緒處理</td>
        </tr>
        
        <tr align="center">
            <td>失眠處理</td>
            <td>痛症處理</td>
            <td>轉變適應輔導</td>
        </tr>
        
        <tr align="center">
            <td>哀傷/喪親輔導</td>
            <td>上癮行爲（如：賭博、酗酒）處理</td>
            <td>創傷後壓力治療</td>
        </tr>
        
        <tr align="center">
            <td>情緒問題（如：抑鬱症、焦慮症）治療</td>
            <td>精神疾患處理</td>
            <td>個人成長</td>
        </tr>
        
        <!--tr>
         <td>
         <p>
         心理評估
         </p>
         <p>
         家庭或婚姻輔導
         </p>
         <p>
         失眠處理
         </p>
         <p>
         哀傷/喪親輔導
         </p>
         <p>
         情緒問題（如：抑鬱症、焦慮症）治療
         </p>
         </td>
         <td valign="top">
         <p>
         工作壓力處理
         </p>
         <p>
         人際關係處理
         </p>
         <p>
         痛症處理
         </p>
         <p>
         上癮行爲（如：賭博、酗酒）處理
         </p>
         <p>
         精神疾患處理
         </p>
         </td>
         <td >
         <p>
         危急事件壓力心理支援
         </p>
         <p>
         與健康問題有關的情緒處理
         </p>
         <p>
         轉變適應輔導
         </p>
         <p>
         創傷後壓力治療
         </p>
         <p>
         個人成長
         </p>
         </td>
         </tr-->
    </tbody>
</table>
<br>
<p>
<strong>輪候時間</strong>
</p>
<ul>
    <li>
        會在10個工作天内安排新個案面見
    </li>
    <li>
        緊急個案會有特別安排，彈性處理
    </li>
</ul>
<br>
<p>
<strong>會面安排：私人時間或工作時間？</strong>
</p>
<ul>
    <li>
        警隊成員可選擇用私人時間或工作時間約見警察臨床心理學家
    </li>
    <li>
        《公務員事務規例》第904條訂明「公務員可獲准離開工作崗位，前往診療所接受認可的治療、檢驗或診症服務」。由2017年7月1起，公務員事務局決定擴大《公務員事務局規例》第
        904 條適用範圍，公務員約見其所屬部門的臨床心理學家進行輔導面談，也可根據《規例》第904條申請離開工作崗位
    </li>
</ul>
<br>
<p>
<strong>求助資料 絕對保密</strong>
</p>
<ul>
    <li>
        在不牽涉人身安全的情況或相關法律要求下，任何人仕（包括單位指揮官）在未獲受助人同意前，都不可取得其個人及心理輔導資料
        <br/>
    </li>
</ul>
<p>
<strong>如何聯絡我們</strong>
</p>
<p>
警察心理服務課
</p>
<p>
電話號碼：2866 6206
</p>
<p>
地址: 香港北角屈臣道15號維多利中心1樓18室
</p>
<p>
傳真：2866 6052
</p>
<p>
電郵：
<a href="mailto:sclinpsy-pps-psg@police.gov.hk">
    sclinpsy-pps-psg@police.gov.hk
</a>
</p>
